.CountryItem {
  width: em(735px);
  height: em(572px);
  position: relative;
  background: $black;
  border-radius: 10px;
  cursor: pointer;
  padding: em(59px) em(75px) em(46px);

  &:last-child {
    margin: 0 auto;
  }

  @include iftablet {
    width: em(442px);
    height: em(343px);
    padding: em(36px) em(28px) em(24px);
  }
  @include ifmobile {
    width: em(292px);
    height: em(227px);
    padding: em(28px) em(18px) em(21px);
  }

  .CountryItemImage {
    position: relative;
    width: em(588px);
    height: em(391px);
    border-radius: 10px;
    margin-bottom: em(48px);

    @include iftablet {
      width: em(386px);
      height: em(231px);
      margin-bottom: em(17px);
    }
    @include ifmobile {
      width: em(256px);
      height: em(153px);
      margin-bottom: em(17px);
    }

    .CountryItemTitle {
      position: absolute;
      bottom: em(32px);
      width: 100%;
      text-align: center;
      @include iftablet {
        bottom: em(22px);
      }
      @include ifmobile {
        bottom: em(14px);
      }
      h1 {
        font-size: em(57px);
        font-weight: normal;
        line-height: 120%;
        text-align: center;
        color: $yellow;
        @include iftablet {
          font-size: em(35px);
        }
        @include ifmobile {
          font-size: em(24px);
        }
      }
    }
  }

  .CountryItemDescription {
    text-align: right;
    color: $white;
    text-align: center;
    // padding-right: em(70px);
    // @include iftablet {
    //   padding-right: em(47px);
    // }
    // @include ifmobile {
    //   padding-right: em(34px);
    // }
    P {
      font-size: em(21px);
      @include iftablet {
        font-size: em(14px);
      }
      @include ifmobile {
        font-size: em(9px);
      }
    }
    span {
      width: em(40px);
      height: em(36px);
      @extend %center;
      background: $grey;
      border-radius: em(10px);
      position: absolute;
      right: em(72px);
      bottom: em(49px);
      @extend %center;
      @include iftablet {
        width: em(31px);
        height: em(28px);
        right: em(27px);
        bottom: em(36px);
      }
      @include ifmobile {
        width: em(20px);
        height: em(18px);
        right: em(18px);
        bottom: em(11px);
        border-radius: em(6px);
      }
      p {
        font-size: em(36px);
        font-family: $font-Calibri;
        margin-top: em(-1px);
        @include iftablet {
          font-size: em(28px);
        }
        @include ifmobile {
          font-size: em(15px);
        }
      }
    }
  }
}
