.Light {
  background: $black2;
}

.Footer {
  display: flex;
  flex-direction: column;

  max-width: em(1552px);
  width: 100%;
  margin: 0 auto;
  position: relative;

  padding-top: em(92px);
  padding-bottom: em(82px);
  padding-left: em(100px);

  @include iftablet {
    padding-top: em(73px);
    padding-bottom: em(57px);
    max-width: em(900px);
  }

  @include ifmobile {
    flex-wrap: wrap;
    padding-top: em(44px);
    padding-bottom: em(26px);
    display: none;
  }

  &Top {
    display: flex;
    justify-content: space-between;
    margin-bottom: em(40px);
  }
  &Center {
    width: 100%;
    margin-bottom: em(34px);
  }

  &Bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.FooterLogoWrapper {
  display: flex;
  flex-direction: column;
  max-width: em(500px);
  width: 100%;
  line-height: em(21px);
}
.FooterLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: em(236px);
  width: 100%;
  margin-bottom: em(21px);
  .LogoText {
    margin-bottom: em(15px);
    max-width: em(144px);
    height: em(10px);
    width: 100%;
  }
  .Logo {
    max-width: em(236px);
    width: 100%;
    height: em(46px);
  }
}
.LogoSubText {
  color: $yellow;
  opacity: 0.5;
  font-size: em(17px);
  width: 100%;
}

.FooterEmailForm {
  display: flex;
  align-items: center;

  span {
    color: $yellow;
    font-size: em(17px);
    line-height: em(20px);
    margin-right: em(28px);
  }
  &Input {
    margin-right: em(23px);
    font-size: em(17px);
    div {
      display: none;
    }
    input {
      max-width: em(294px);
      height: em(49px);
      width: 100%;
    }
  }
  &Btn {
    max-width: em(193px);
    height: em(49px);
    width: 100%;
    font-size: em(17px);
  }
}

.EmailSuccessWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: em(66px);
}
.EmailSuccess {
  max-width: em(811px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $yellow;
  span {
    color: $yellow;
    font-size: em(17px);
    font-weight: bold;
  }
}

.PaymentsText {
  width: 100%;
  font-size: em(17px);
  line-height: em(20px);
  color: $grey;
  margin-bottom: 20px;
}
.PaymentsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.PaymentsIcons {
  display: flex;
  max-width: em(1040px);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

// Icons
.PaymentsIcon {
  &Visa {
    width: em(90px);
    height: em(29px);
  }
  &MS {
    width: em(59px);
    height: em(45px);
  }
  &UnionPay {
    width: em(54px);
    height: em(34px);
  }
  &Express {
    width: em(41px);
    height: em(41px);
  }
  &Discover {
    width: em(105px);
    height: em(27px);
  }
  &Denis {
    width: em(116px);
    height: em(30px);
  }
  &Swift {
    width: em(47px);
    height: em(46px);
  }
  &Binance {
    width: em(127px);
    height: em(25px);
  }
  &PCI {
    width: em(117px);
    height: em(40px);
  }
}
.Social {
  max-width: em(177px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &Fb {
    width: em(13px);
    height: em(28px);
  }
  &Inst {
    width: em(25px);
    height: em(27px);
  }
  &Tw {
    width: em(27px);
    height: em(23px);
  }
  &Linkedin {
    width: em(24px);
    height: em(24px);
  }
}

.FooterNavbar {
  display: grid;

  grid-template-columns: 1fr 1fr;
  max-width: em(838px);
  width: 100%;

  @include iftablet {
    max-width: em(485px);
  }
  @include ifmobile {
    margin-bottom: em(33px);
  }
  .Link {
    max-width: em(400px);
    font-size: em(17px);
    line-height: 100%;
    color: $grey;
    font-weight: 400;
    display: grid;
    margin-bottom: 20px;
    // align-self: end;
    @include iftablet {
      font-size: em(14px);
    }
    @include ifmobile {
      width: 100%;
      font-size: em(10px);
      margin-bottom: em(14px);
    }
    &:hover {
      color: $yellow;
    }
    &:nth-child(2n) {
      width: em(400px);
      width: max-content;
      margin-left: em(75px);
      @include iftablet {
        margin-left: em(0px);
      }
      @include ifmobile {
        margin-left: em(30px);
        width: 100%;
      }
    }
  }
}
