.Light {
  background: $black2;
}

.Footer {
  display: flex;
  flex-direction: column;
  max-width: em(1552px);
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: em(40px);
  padding-bottom: em(20px);
  // padding-top: em(92px);
  // padding-bottom: em(82px);

  @include iftablet {
    padding-top: em(73px);
    padding-bottom: em(57px);
    max-width: em(900px);
  }

  @include ifmobile {
    max-width: em(300px);
    flex-wrap: wrap;
    padding-top: em(20px);
    padding-bottom: em(40px);
  }

  &Top {
    display: flex;
    justify-content: space-between;
    margin-bottom: em(40px);

    @include iftablet {
      justify-content: flex-start;
      margin-bottom: em(37px);
    }
    @include ifmobile {
      flex-wrap: wrap;
      margin-bottom: em(25px);
    }
  }
  &Center {
    width: 100%;
    margin-bottom: em(10px);
    // margin-bottom: em(34px);
  }

  &Bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.FooterLogoWrapper {
  display: flex;
  flex-direction: column;
  max-width: em(500px);
  width: 100%;
  line-height: em(21px);
  @include iftablet {
    max-width: em(183px);
    margin-right: em(95px);
  }
  @include ifmobile {
    justify-content: space-between;
    flex-direction: row;
    // order: 1;
    margin-bottom: em(15px);
  }
}
.FooterLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: em(236px);
  margin-bottom: em(21px);
  @include iftablet {
    max-width: em(139px);
    margin-bottom: em(9px);
  }
  @include ifmobile {
    max-width: em(96px);
    margin-bottom: 0;
  }
  .LogoText {
    width: 100%;
    max-width: em(144px);
    height: em(10px);
    margin-bottom: em(15px);
    @include iftablet {
      max-width: em(85.27px);
      height: em(6.29px);
      margin-bottom: em(8px);
    }
    @include ifmobile {
      max-width: em(58.77px);
      height: em(4.43px);
      margin-bottom: em(6px);
    }
  }
  .Logo {
    width: 100%;
    max-width: em(236px);
    height: em(46px);
    @include iftablet {
      max-width: em(139.29px);
      height: em(27.55px);
    }
    @include ifmobile {
      max-width: em(96px);
      height: em(19.39px);
    }
  }
}
.LogoSubText {
  font-family: $font-Calibri;
  color: $yellow;
  opacity: 0.5;
  font-size: em(17px);
  line-height: 120%;
  width: 100%;
  max-width: em(322px);
  @include iftablet {
    font-size: em(11px);
  }
  @include ifmobile {
    font-size: em(9px);
  }
}

.FooterEmailForm {
  display: flex;
  align-items: center;
  @include ifmobile {
    flex-direction: column;
  }

  span {
    color: $yellow;
    font-size: em(12px);
    // font-size: em(17px);
    line-height: em(20px);
    margin-right: auto;
    @include iftablet {
      font-size: em(12px);
    }
    @include ifmobile {
      font-size: em(11px);
      text-align: center;
      margin-bottom: em(20px);
    }
  }
  &Input {
    width: em(294px);
    margin-right: em(23px);
    // font-size: em(17px);
    @include iftablet {
      width: em(206px);
    }
    @include ifmobile {
      margin-right: 0;
      width: 100%;
      margin-bottom: em(11px);
    }

    // div {
    //   display: none;
    // }
    // input {
    //   width: 100%;
    //   max-width: em(294px);
    //   // height: em(48px);
    //   @include iftablet {
    //     // font-size: em(14px);
    //     max-width: em(206px, 14px);
    //     // height: em(38px, 14px);
    //   }
    //   @include ifmobile {
    //     // font-size: em(14px);
    //     max-width: 100%;
    //     // height: em(44px, 14px);
    //   }
    // }
  }
  &Btn {
    width: 100%;
    max-width: em(193px);
    height: em(48px);
    // height: em(48px);
    @include iftablet {
      max-width: em(136px);
      // font-size: em(14px);
      // max-width: em(136px, 14px);
      // height: em(38px, 14px);
    }
    @include ifmobile {
      max-width: em(127px);
      // font-size: em(17px);
      // max-width: em(127px);
      // height: em(33px);
    }
  }
}

.EmailSuccessWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: em(66px);

  @include ifmobile {
    height: em(141px);
  }
}
.EmailSuccess {
  max-width: em(811px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $yellow;
  color: $yellow;
  font-size: em(17px);
  font-weight: bold;
  @include iftablet {
    font-size: em(14px);
  }
  @include ifmobile {
    font-size: em(11px);
    text-align: center;
    line-height: 120%;
    padding: 0 em(58px);
  }
}

.PaymentsText {
  width: 100%;
  font-size: em(12px);
  // font-size: em(17px);
  line-height: em(20px);
  color: $grey;
  margin-bottom: em(20px);
  @include iftablet {
    font-size: em(12px);
  }

  @include ifmobile {
    font-size: em(9px);
    text-align: center;
  }
}
.PaymentsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include ifmobile {
    flex-direction: column;
  }
}
.PaymentsIcons {
  display: flex;
  // max-width: em(1040px);
  max-width: em(540px);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @include iftablet {
    max-width: em(579px);
  }
  @include ifmobile {
    order: 1;
  }
}

// Icons
.PaymentsIcon {
  &Visa {
    // width: em(90px);
    // height: em(29px);
    width: em(49.95px);
    height: em(15.95px);
    @include iftablet {
      width: em(49.95px);
      height: em(15.95px);
    }
    @include ifmobile {
      width: em(37px);
      height: em(12px);
    }
  }
  &MS {
    // width: em(59px);
    // height: em(45px);
    width: em(33px);
    height: em(25px);
    @include iftablet {
      width: em(33px);
      height: em(25px);
    }
    @include ifmobile {
      width: em(33px);
      height: em(25px);
    }
  }
  &UnionPay {
    // width: em(54px);
    // height: em(34px);
    width: em(29px);
    height: em(19px);
    @include iftablet {
      width: em(29px);
      height: em(19px);
    }
    @include ifmobile {
      width: em(35px);
      height: em(22px);
    }
  }
  &Express {
    // width: em(41px);
    // height: em(41px);
    width: em(21px);
    height: em(21px);
    @include iftablet {
      width: em(21px);
      height: em(21px);
    }
    @include ifmobile {
      width: em(90px);
      height: em(29px);
    }
  }
  &Discover {
    // width: em(105px);
    // height: em(27px);
    width: em(58.59px);
    height: em(15.03px);
    @include iftablet {
      width: em(58.59px);
      height: em(15.03px);
    }
    @include ifmobile {
      width: em(60px);
      height: em(15.39px);
    }
  }
  &Denis {
    // width: em(116px);
    // height: em(30px);
    width: em(64px);
    height: em(16px);
    @include iftablet {
      width: em(64px);
      height: em(16px);
    }
    @include ifmobile {
      width: em(62px);
      height: em(16px);
    }
  }
  &Swift {
    // width: em(47px);
    // height: em(46px);
    width: em(26px);
    height: em(25px);
    @include iftablet {
      width: em(26px);
      height: em(25px);
    }
    @include ifmobile {
      width: em(27px);
      height: em(26px);
    }
  }
  &Binance {
    // width: em(127px);
    // height: em(25px);
    width: em(71px);
    height: em(14px);
    @include iftablet {
      width: em(71px);
      height: em(14px);
    }
    @include ifmobile {
      width: em(76px);
      height: em(15px);
    }
  }
  &PCI {
    // width: em(117px);
    // height: em(40px);
    width: em(65.14px);
    height: em(22.35px);
    @include iftablet {
      width: em(65.14px);
      height: em(22.35px);
    }
    @include ifmobile {
      width: em(72.88px);
      height: em(25px);
    }
  }
}
.Social {
  max-width: em(100px);
  // max-width: em(177px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    cursor: pointer;
    &:hover {
      path {
        fill: $green;
      }
    }
  }

  @include iftablet {
    max-width: em(102px);
  }
  @include ifmobile {
    max-width: em(140px);
    margin-bottom: em(20px);
  }

  &Fb {
    // width: em(13px);
    // height: em(28px);
    width: em(8px);
    height: em(17px);
    @include iftablet {
      width: em(8px);
      height: em(17px);
    }
    @include ifmobile {
      width: em(8px);
      height: em(17px);
    }
  }
  &Inst {
    // width: em(25px);
    // height: em(27px);
    width: em(15px);
    height: em(17px);
    @include iftablet {
      width: em(15px);
      height: em(17px);
    }
    @include ifmobile {
      width: em(15px);
      height: em(17px);
    }
  }
  &Tw {
    // width: em(27px);
    // height: em(23px);
    width: em(17px);
    height: em(15px);
    @include iftablet {
      width: em(17px);
      height: em(15px);
    }
    @include ifmobile {
      width: em(17px);
      height: em(15px);
    }
  }
  &Linkedin {
    // width: em(24px);
    // height: em(24px);
    width: em(15px);
    height: em(15px);
    @include iftablet {
      width: em(15px);
      height: em(15px);
    }
    @include ifmobile {
      width: em(15px);
      height: em(15px);
    }
  }
}

.FooterNavbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: em(838px);
  width: 100%;

  @include iftablet {
    max-width: em(485px);
  }
  @include ifmobile {
    margin-bottom: 0;
  }
  .Link {
    max-width: em(400px);
    font-size: em(12px);
    // font-size: em(17px);
    line-height: 100%;
    color: $grey;
    font-weight: 400;
    display: grid;
    margin-bottom: em(20px);
    @include iftablet {
      font-size: em(14px);
      margin-bottom: em(15px);
    }
    @include ifmobile {
      width: 100%;
      font-size: em(10px);
      margin-bottom: em(14px);
    }
    &:hover {
      color: $yellow;
    }
    &:nth-child(2n) {
      width: em(400px);
      width: max-content;
      margin-left: em(75px);
      @include iftablet {
        margin-left: em(0px);
      }
      @include ifmobile {
        margin-left: em(30px);
        width: 100%;
      }
    }
  }
}
