.WelcomeBlock {
  padding-top: em(322px);
  padding-bottom: em(430px);
  position: relative;

  @include iftablet {
    padding-top: em(189px);
    padding-bottom: em(171px);
  }
  @include ifmobile {
    padding-top: em(84px);
    padding-bottom: em(20px);
  }

  .WelcomeBlockTitle {
    margin-bottom: em(37px);
    h1 {
      color: $white;
    }
    @include iftablet {
      margin-bottom: em(35px);
    }
    @include ifmobile {
      margin-bottom: em(27px);
    }
  }

  .WelcomeBlockUl {
    position: relative;

    .WelcomeBlockLi {
      max-width: 100%;
      margin-bottom: em(20px);
      list-style: none;

      // @include iftablet {
      //   max-width: em(448px);
      // }
      // @include ifmobile {
      //   max-width: 100%;
      // }

      .WelcomeBlockText {
        p {
          font-family: $font-Calibri;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .WelcomeBlockImage {
    position: relative;
    z-index: 100;
    top: em(-160px);
    right: 0;
    width: em(668px);
    height: em(543px);
    float: right;
    margin-left: em(125px);
    @include iftablet {
      top: em(-100px);
      width: em(332px);
      height: em(270px);
      margin-left: em(40px);
    }
    @include ifmobile {
      top: em(-5px);
      width: em(121px);
      height: em(99px);
      margin-left: 0;
    }
  }
}

.WidgetBlock {
  position: relative;
  padding-bottom: em(238px);

  @include iftablet {
    padding-bottom: em(158px);
  }
  @include ifmobile {
    padding-bottom: em(53px);
  }

  .WidgetBlockImage {
    position: relative;
    margin: 0 auto;
    width: em(204px);
    height: em(204px);
    margin-bottom: em(37px);
    @include iftablet {
      width: em(126px);
      height: em(126px);
      margin-bottom: em(54px);
    }
    @include ifmobile {
      width: em(81px);
      height: em(81px);
      margin-bottom: em(8px);
    }
  }

  .WidgetBlockTitle {
    max-width: em(885px);
    margin: 0 auto;
    text-align: center;
    margin-bottom: em(106px);
    @include iftablet {
      margin-bottom: em(72px);
    }
    @include ifmobile {
      margin-bottom: em(92px);
    }
    h1 {
      font-size: em(50px);
      color: $white;
      @include iftablet {
        font-size: em(40px);
      }
      @include ifmobile {
        font-size: em(24px);
      }
    }
  }

  .WidgetBlockWidget {
    margin-bottom: em(184px);
    @include iftablet {
      margin-bottom: em(90px);
    }
    @include ifmobile {
      margin-bottom: em(59px);
    }
  }

  .WidgetBlockAdvantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(30px) em(82px);
    @include iftablet {
      gap: em(16px);
    }
    @include ifmobile {
      gap: em(15px) em(16px);
    }
  }
}

.JurisdictionsBlock {
  padding-top: em(180px);
  padding-bottom: em(230px);
  position: relative;
  background: $black2;
  @include iftablet {
    padding-top: em(69px);
    padding-bottom: em(180px);
  }
  @include ifmobile {
    padding-top: em(60px);
    padding-bottom: em(53px);
  }

  .WelcomeBlockTitle {
    text-align: center;
    margin-bottom: em(111px);
    @include iftablet {
      margin-bottom: em(56px);
    }
    @include ifmobile {
      margin-bottom: em(20px);
    }
    h1 {
      color: $white;
    }
  }

  .JurisdictionsBlockCountry {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(28px);
    max-width: em(1498px);
    width: 100%;
    margin: 0 auto;
    margin-bottom: em(144px);
    @include iftablet {
      max-width: em(909px);
      margin-bottom: em(103px);
      gap: em(25px);
    }
    @include ifmobile {
      gap: em(18px);
      margin-bottom: em(98px);
    }
  }

  .HowItWorksTitle {
    text-align: center;
    margin-bottom: em(188px);
    @include iftablet {
      margin-bottom: em(50px);
    }
    @include ifmobile {
      margin-bottom: em(39px);
    }
    h1 {
      color: $white;
    }
  }

  .HowItWorksItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(30px) em(82px);
    @include iftablet {
      gap: em(16px);
    }
    @include ifmobile {
      gap: em(15px) em(16px);
    }
  }
}

.JurisdictionsCountryBlock {
  padding-top: em(226px);
  padding-bottom: em(245px);
  position: relative;

  @include iftablet {
    padding-top: em(144px);
    padding-bottom: em(112px);
  }
  @include ifmobile {
    padding-top: em(52px);
    padding-bottom: em(92px);
  }

  .JurisdictionsCountryBlockTitle {
    max-width: em(850px);
    text-align: center;
    margin: 0 auto;
    margin-bottom: em(161px);
    @include iftablet {
      max-width: em(679px);
      margin-bottom: em(88px);
    }
    @include ifmobile {
      max-width: em(679px);
      margin-bottom: em(53px);
    }
    h1 {
      color: $white;
      font-size: em(30px);
      @include iftablet {
        font-size: em(24px);
      }
      @include ifmobile {
        font-size: em(16px);
      }
    }
  }

  .JurisdictionsCountryItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(30px) em(55px);

    @include iftablet {
      gap: em(30px);
    }
    @include ifmobile {
      gap: em(8px);
    }
  }
}

.SomeBlockContainer {
  background: $black2;
  .SomeBlock {
    padding-top: em(237px);
    padding-bottom: em(261px);

    @include iftablet {
      padding-top: em(159px);
      padding-bottom: em(126px);
    }
    @include ifmobile {
      padding-top: em(54px);
      padding-bottom: em(89px);
    }

    .SomeBlockMore {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: em(300px);
      margin-bottom: em(75px);
      @include iftablet {
        gap: em(126px);
        margin-bottom: em(110px);
      }
      @include ifmobile {
        flex-direction: column;
        gap: em(27px);
        margin-bottom: em(45px);
      }

      .SomeBlockMoreItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: em(523px);

        @include iftablet {
          max-width: em(356px);
        }
        @include ifmobile {
          max-width: 70%;
          align-items: flex-start;
          &:nth-child(2n) {
            align-items: flex-end;
            align-self: flex-end;
            text-align: right;
            .WelcomeBlockImage {
              margin-right: em(30px);
            }
          }
        }

        .WelcomeBlockImage {
          position: relative;
          width: em(88px);
          height: em(88px);
          margin-bottom: em(38px);

          @include iftablet {
            width: em(65px);
            height: em(65px);
            margin-bottom: em(29px);
          }
          @include ifmobile {
            width: em(37px);
            height: em(37px);
            margin-bottom: em(14px);
            margin-left: em(30px);
          }
        }

        p {
          font-size: em(30px);
          color: $white;
          font-weight: bold;
          line-height: 120%;

          @include iftablet {
            font-size: em(24px);
          }
          @include ifmobile {
            font-size: em(16px);
          }
        }

        .Small {
          font-size: em(20px);
          font-weight: 400;

          @include iftablet {
            font-size: em(17px);
          }
          @include ifmobile {
            font-size: em(11px);
          }
        }
      }
    }

    .SomeBlockSolo {
      margin-bottom: em(82px);

      @include iftablet {
        margin-bottom: em(110px);
      }
      @include ifmobile {
        margin-bottom: em(45px);
      }
      &:last-child {
        margin-bottom: 0;
      }
      .SomeBlockSoloItem {
        max-width: em(849px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: em(82px);

        @include iftablet {
          max-width: em(642px);
        }
        @include ifmobile {
        }
        &:last-child {
          margin-bottom: 0;
        }

        .WelcomeBlockImage {
          position: relative;
          width: em(88px);
          height: em(88px);
          margin-bottom: em(38px);

          @include iftablet {
            width: em(65px);
            height: em(65px);
            margin-bottom: em(29px);
          }
          @include ifmobile {
            width: em(37px);
            height: em(37px);
            margin-bottom: em(14px);
          }
        }
        p {
          font-size: em(30px);
          color: $white;
          font-weight: bold;
          line-height: 120%;
          @include iftablet {
            font-size: em(24px);
          }
          @include ifmobile {
            font-size: em(16px);
          }
        }

        .Pink {
          color: $pink;
        }
      }
    }
  }
}
