.WelcomeBlock {
  padding-top: em(300px);
  padding-bottom: em(70px);
  position: relative;
  min-height: 100vh;

  @include iftablet {
    padding-top: em(189px);
    padding-bottom: em(171px);
    min-height: 100%;
  }
  @include ifmobile {
    padding-top: em(84px);
    padding-bottom: em(41px);
    min-height: 100%;
  }

  .WelcomeBlockTitle {
    margin-bottom: em(37px);
    h1 {
      color: $white;
    }
    @include iftablet {
      margin-bottom: em(35px);
    }
    @include ifmobile {
      margin-bottom: em(27px);
    }
  }

  .WelcomeBlockUl {
    position: relative;

    .WelcomeBlockLi {
      max-width: 100%;
      margin-bottom: em(20px);
      list-style: none;

      .WelcomeBlockText {
        p {
          font-family: $font-Calibri;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .WelcomeBlockImage {
    position: relative;
    z-index: 100;
    top: em(-160px);
    right: 0;
    width: em(668px);
    height: em(543px);
    float: right;
    margin-left: em(125px);
    @include iftablet {
      top: em(-100px);
      width: em(332px);
      height: em(270px);
      margin-left: em(40px);
    }
    @include ifmobile {
      top: em(-5px);
      width: em(121px);
      height: em(99px);
      margin-left: 0;
    }
  }
}

.WidgetBlock {
  position: relative;
  padding-top: em(40px);
  padding-bottom: em(238px);

  @include iftablet {
    padding-bottom: em(158px);
  }
  @include ifmobile {
    padding-bottom: em(53px);
  }

  .WidgetBlockImage {
    position: relative;
    margin: 0 auto;
    width: em(248px);
    height: em(168px);
    margin-bottom: em(80px);
    @include iftablet {
      width: em(148px);
      height: em(100px);
      margin-bottom: em(66px);
    }
    @include ifmobile {
      width: em(70px);
      height: em(66px);
      margin-bottom: em(21px);
    }
  }

  .WidgetBlockTitle {
    max-width: em(600px);
    margin: 0 auto;
    text-align: center;
    margin-bottom: em(60px);
    @include ifmobile {
      margin-bottom: em(30px);
    }
    h1 {
      font-size: em(24px);
      color: $white;
      @include ifmobile {
        font-size: em(16px);
      }
    }
  }

  .WidgetBlockWidget {
    margin-bottom: em(60px);
  }

  .WidgetBlockAdvantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(30px) em(82px);
    @include iftablet {
      gap: em(16px);
    }
    @include ifmobile {
      gap: em(15px) em(16px);
    }
  }
}

.JurisdictionsBlock {
  padding-top: em(150px);
  padding-bottom: em(200px);
  position: relative;
  background: $black2;
  @include iftablet {
    padding-top: em(69px);
    padding-bottom: em(180px);
  }
  @include ifmobile {
    padding-top: em(60px);
    padding-bottom: em(53px);
  }

  .WelcomeBlockTitle {
    text-align: center;
    margin-bottom: em(100px);
    @include iftablet {
      margin-bottom: em(50px);
    }
    @include ifmobile {
      margin-bottom: em(20px);
    }
    h1 {
      color: $white;
    }
  }

  .JurisdictionsBlockCountry {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(28px);
    max-width: em(1350px);
    width: 100%;
    margin: 0 auto;
    margin-bottom: em(100px);
    @include iftablet {
      max-width: em(909px);
      gap: em(25px);
    }
    @include ifmobile {
      gap: em(18px);
      margin-bottom: em(98px);
    }
  }

  .HowItWorksTitle {
    text-align: center;
    margin-bottom: em(100px);
    @include iftablet {
      margin-bottom: em(50px);
    }
    @include ifmobile {
      margin-bottom: em(20px);
    }
    h1 {
      color: $white;
    }
  }

  .HowItWorksItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(30px) em(82px);
    @include iftablet {
      gap: em(16px);
    }
    @include ifmobile {
      gap: em(15px) em(16px);
    }
  }
}

.JurisdictionsCountryBlock {
  padding-top: em(150px);
  padding-bottom: em(245px);
  position: relative;

  @include iftablet {
    padding-top: em(144px);
    padding-bottom: em(112px);
  }
  @include ifmobile {
    padding-top: em(52px);
    padding-bottom: em(92px);
  }

  .JurisdictionsCountryBlockTitle {
    max-width: em(850px);
    text-align: center;
    margin: 0 auto;
    margin-bottom: em(60px);
    @include iftablet {
      max-width: em(679px);
    }
    @include ifmobile {
      max-width: em(679px);
      margin-bottom: em(53px);
    }
    h1 {
      color: $white;
      font-size: em(30px);
      @include iftablet {
        font-size: em(24px);
      }
      @include ifmobile {
        font-size: em(16px);
      }
    }
  }

  .JurisdictionsCountryItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(30px) em(55px);

    @include iftablet {
      gap: em(30px);
    }
    @include ifmobile {
      gap: em(8px);
    }
  }
}

.SomeBlockContainer {
  background: $black2;
  .SomeBlock {
    padding-top: em(150px);
    padding-bottom: em(261px);

    @include iftablet {
      padding-top: em(159px);
      padding-bottom: em(126px);
    }
    @include ifmobile {
      padding-top: em(54px);
      padding-bottom: em(89px);
    }

    .SomeBlockMore {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: em(300px);
      margin-bottom: em(75px);
      @include iftablet {
        gap: em(126px);
        margin-bottom: em(110px);
      }
      @include ifmobile {
        flex-direction: column;
        gap: em(27px);
        margin-bottom: em(45px);
      }

      .SomeBlockMoreItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: em(523px);

        @include iftablet {
          max-width: em(356px);
        }
        @include ifmobile {
          max-width: 70%;
          align-items: flex-start;
          &:nth-child(2n) {
            align-items: flex-end;
            align-self: flex-end;
            text-align: right;
            .WelcomeBlockImage {
              margin-right: em(30px);
            }
          }
        }

        .WelcomeBlockImage {
          position: relative;
          width: em(50px);
          height: em(50px);
          margin-bottom: em(30px);

          @include ifmobile {
            width: em(37px);
            height: em(37px);
            margin-left: em(30px);
            margin-bottom: em(14px);
          }
        }

        p {
          font-size: em(18px);
          color: $white;
          font-weight: bold;
          line-height: 120%;
          text-align: center;

          @include ifmobile {
            font-size: em(12px);
            text-align: inherit;
          }
        }

        .Small {
          font-size: em(18px);
          font-weight: 400;
          @include ifmobile {
            font-size: em(12px);
          }
        }
      }
    }

    .SomeBlockSolo {
      margin-bottom: em(82px);

      @include iftablet {
        margin-bottom: em(110px);
      }
      @include ifmobile {
        margin-bottom: em(45px);
      }
      &:last-child {
        margin-bottom: 0;
      }
      .SomeBlockSoloItem {
        max-width: em(849px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: em(82px);

        @include iftablet {
          max-width: em(642px);
        }
        @include ifmobile {
        }
        &:last-child {
          margin-bottom: 0;
        }

        .WelcomeBlockImage {
          position: relative;
          width: em(50px);
          height: em(50px);
          margin-bottom: em(30px);
          @include ifmobile {
            width: em(37px);
            height: em(37px);
            margin-bottom: em(14px);
          }
        }
        p {
          font-size: em(18px);
          color: $white;
          font-weight: bold;
          line-height: 120%;
          @include ifmobile {
            font-size: em(12px);
          }
        }

        .Pink {
          color: $pink;
        }
      }
    }
  }
}
