.GraphBlock {
  padding-top: em(212px);
  padding-bottom: em(145px);
  display: flex;
  flex-direction: column;
  align-items: center;
  .GraphBlockTitle {
    margin-bottom: em(48px);
    h1 {
      color: $white;
      font-size: em(69px);
    }
  }

  .GraphBlockSubtitle {
    margin-bottom: em(123px);
    h1 {
      font-size: em(30px);
    }
  }

  .GraphBlockImg {
    display: block;
    position: relative;
    width: em(1091px);
    height: em(2097px);
  }
}
