.Li {
  list-style: none;
  letter-spacing: 2px;
  font-size: em(18px);
  color: $white;

  @include iftablet {
    font-size: em(14px);
  }
}

.Link:hover {
  color: $yellow;
}
.Active {
  color: $yellow;
}
