@font-face {
  font-family: 'Circe';
  src: url('~assets/fonts/Circe-Regular.woff2') format('woff2'),
    url('~assets/fonts/Circe-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('~assets/fonts/Circe-Bold.woff2') format('woff2'),
    url('~assets/fonts/Circe-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Calibri';
  src: url('~assets/fonts/Calibri-Regular.woff2') format('woff2'),
    url('~assets/fonts/Calibri-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('~assets/fonts/Calibri-Bold.woff2') format('woff2'),
    url('~assets/fonts/Calibri-Bold.woff') format('woff');
  font-weight: bold;
}
