.MobileMenuPopup {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000000;
  min-height: 100%;
  overflow: auto;
  // overflow-y: scroll;
}

.MobileMenuPopupContent {
  width: em(263px);
  min-height: em(477px);
  padding: em(68px) em(40px) em(28px);
  position: absolute;
  right: 0;
  background: $black2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.MobileMenuPopupClose {
  width: em(18px);
  height: em(9px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: absolute;
  top: em(28px);
  right: em(29px);
  span {
    width: 100%;
    height: 1px;
    background: $yellow;
  }
}

.visible {
  display: flex;
}
