.Wrapper {
  display: flex;
  flex-direction: column;
  padding-top: em(186px);
  padding-bottom: em(210px);
  position: relative;

  @include iftablet {
    padding-top: em(137px);
    padding-bottom: em(60px);
  }
  @include ifmobile {
    padding-top: em(68px);
    padding-bottom: em(38px);
  }
}
.Breadcrumbs {
  margin-bottom: em(80px);

  @include iftablet {
    margin-bottom: em(48px);
  }
  @include ifmobile {
    display: none;
  }
}

.TextBlock {
  margin-bottom: em(80px);

  @include iftablet {
    margin-bottom: em(58px);
  }
  @include ifmobile {
    padding-right: em(30px);
    margin-bottom: em(20px);
  }
}

.Title {
  margin-bottom: em(40px);

  @include iftablet {
    margin-bottom: em(36px);
  }
  @include ifmobile {
    margin-bottom: em(15px);
  }
  span {
    color: $white;
  }
}
.Description {
  display: block;
  max-width: em(853px);
  width: 100%;
}
.List {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include ifmobile {
    flex-wrap: wrap;
  }
}
.Card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  justify-content: space-between;
  text-align: center;
  background-color: $black2;
  border-radius: em(10px);
  width: em(250px);
  padding: em(30px) em(20px);

  @include iftablet {
    width: em(160px);
    padding: em(20px);
  }
  @include ifmobile {
    width: 100%;
    min-height: em(80px);
    padding: em(26px) em(10px) em(11px) em(87px);
    margin-bottom: em(11px);
    justify-content: flex-start;
    align-items: flex-start;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &Title {
    font-size: em(16px);
    margin-bottom: em(20px);
    color: $green;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 120%;

    @include iftablet {
      font-size: em(12px);
    }
    @include ifmobile {
      font-size: em(10px);
      margin-bottom: em(10px);
      text-align: left;
    }
  }
  &Img {
    position: relative;
    width: em(100px);
    height: em(100px);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: em(50px);
    img {
      height: 100%;
      margin: 0 auto;
    }

    @include iftablet {
      width: 100%;
      height: em(91px);
      margin-bottom: em(30px);
    }
    @include ifmobile {
      width: em(60px);
      height: em(56px);
      position: absolute;
      left: em(10px);
      top: em(10px);
    }
  }
  &Btn {
    color: $yellow;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @include iftablet {
      font-size: em(14px);
    }
    @include ifmobile {
      font-size: em(11px);
      line-height: 100%;
    }
  }
}
