.ConfrimEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: em(297px);
}

.Title {
  margin-bottom: 18px;
}

.Subtitle {
  margin-bottom: 97px;
}

.Input {
  width: em(541px);
  height: em(83px);
  margin-bottom: em(127px);
}

.BtnLogin {
  width: em(289px);
  height: em(82px);
  margin-bottom: em(23px);
}
