.Subtitle {
  margin: 0;
  color: $white;
  line-height: 100%;

  &_h1 {
    font-size: em(30px);
    font-weight: bold;

    @include ifmobile {
      font-size: em(26px);
    }
  }
  &_h2 {
    font-size: em(50px);
    color: $white;
    text-decoration: underline;
    font-weight: bold;
  }
  &_h3 {
    font-size: em(20px);
    font-weight: normal;
  }
}
