.SelectContainer {
  position: relative;
}

.SelectOptions {
  position: absolute;
  top: 0;
  width: 100%;
  border: 1px solid #e4e4e4;
}

.SelectedText {
  font-size: em(18px);
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  @include iftablet {
    font-size: em(14px);
  }
}

.Ul {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-height: em(170px);
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.Ul::-webkit-scrollbar {
  display: none;
  width: 0px; /* For Chrome, Safari, and Opera */
}

.Li {
  font-size: em(18px);
  text-transform: uppercase;
  list-style-type: none;
  width: 100%;
  padding: em(10px) 0;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
  @include iftablet {
    font-size: em(14px);
  }
}

.Li:last-child {
  border-bottom: none;
}

.Li:hover {
  background-color: #d9d9d9;
  border-radius: 10px;
}

.ShowDropdownOptions {
  min-height: 50px;
  opacity: 1;
  visibility: visible;
}

.HideDropdownOptions {
  min-height: 0;
  opacity: 0;
  visibility: hidden;
}

.Select_language {
  background: none;
  color: $white;

  .SelectedText {
    width: 100%;
    padding: em(10px) 0;
    color: $yellow;
  }

  .SelectedText::after {
    display: none;
  }

  .SelectOptions {
    border: none;
    background: $black2;
  }

  .Li {
    border-bottom: none;
  }

  .Li:hover {
    color: $yellow;
    background-color: inherit;
  }
}
