.UnicornsPopupNav {
  position: absolute;
  z-index: 100;
  right: em(86px);
  bottom: em(47px);
  max-width: em(100px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include iftablet {
    max-width: em(83px);
    right: em(34px);
    bottom: em(27px);
  }
  @include ifmobile {
    max-width: em(50px);
    right: em(20px);
    bottom: em(16px);
  }

  .Btn {
    display: inline-flex;
    cursor: pointer;
    overflow: hidden;
    svg {
      width: em(21px);
      height: em(24px);
      @include iftablet {
        width: em(15px);
        height: em(18px);
      }
      @include ifmobile {
        width: em(10px);
        height: em(13px);
      }
    }
  }

  .PrevBtn {
    -webkit-transform: scaleY(-1);
    transform: scaleX(-1);
  }

  .Disable {
    pointer-events: none;
    opacity: 0.3;
  }
}

.BgWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100px;
  padding: em(104px) em(18px) em(113px) em(105px);

  @include iftablet {
    padding: em(90px) em(18px) em(54px) em(50px);
  }

  @include ifmobile {
    padding: em(70px) em(19px) em(19px) em(19px);
  }
}

.BgCanada {
  background: url('/images/landing/jurisdictions/canada.jpg') center / cover
    no-repeat;
}

.BgCyprus {
  background: url('/images/landing/jurisdictions/cyprus.jpg') center / cover
    no-repeat;
}

.BgDominica {
  background: url('/images/landing/jurisdictions/dominica.jpg') center / cover
    no-repeat;
}

.BgEstonia {
  background: url('/images/landing/jurisdictions/estonia.jpg') center / cover
    no-repeat;
}

.BgHongkong {
  background: url('/images/landing/jurisdictions/hongkong.jpg') center / cover
    no-repeat;
}

.BgLatvia {
  background: url('/images/landing/jurisdictions/latvia.jpg') center / cover
    no-repeat;
}

.BgLiechtenstein {
  background: url('/images/landing/jurisdictions/liechtenstein.jpg') center /
    cover no-repeat;
}

.BgMarshall {
  background: url('/images/landing/jurisdictions/marshall.jpg') center / cover
    no-repeat;
}
