.Title {
  margin: 0;
  color: $yellow;
  line-height: 100%;

  &_h1 {
    @include ifdesktop {
      font-size: em(69px);
      font-weight: 700;
    }
    @include ifmobile {
      font-size: em(26px);
    }
  }
  &_h2 {
    font-size: em(50px);
    color: $white;
    text-decoration: underline;
    font-weight: bold;
  }
  &_h3 {
    font-size: em(20px);
    font-weight: normal;
  }
}
