.OurWorkBusinessItem {
  width: em(263px);
  height: em(150px);
  background: $black;
  border-radius: em(10px);
  @extend %center;
  cursor: pointer;
  padding-left: em(45px);
  padding-right: em(45px);
  text-align: center;

  @include ifmobile {
    width: em(131px);
    height: em(117px);
    padding-left: em(25px);
    padding-right: em(25px);
  }
}

.OurWorkBusinessItemTitle {
  font-size: em(14px);
  font-weight: 700;
  line-height: 120%;
  color: #13de4c;
  @include ifmobile {
    font-size: em(12px);
  }
}
