.NotAcceptingPopupTitle {
  font-size: em(50px);
  line-height: 100%;
  font-weight: bold;
  color: $yellow;
  text-align: center;
  margin-bottom: em(45px, 50px);

  @include ifmobile {
    font-size: em(24px);
  }
}

.Table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: em(53px);
  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
      td {
        font-size: em(19px);
        line-height: 120%;
        font-family: $font-Calibri;
        font-style: normal;
        font-weight: normal;
        color: $white;
        border-bottom: 0.5px solid $white;
        padding: em(10px) 0;

        @include ifmobile {
          font-size: em(12px);
        }

        &:first-child {
          padding-left: em(60px);
          @include ifmobile {
            padding-left: 0;
          }
        }
        &:last-child {
          padding-right: em(20px);
          @include ifmobile {
            padding-right: 0;
          }
        }
      }

      .Large {
        width: 60%;
        @include ifmobile {
          width: 50%;
        }
      }
    }
  }
}

.Input,
.Textarea {
  width: 100%;
  margin-bottom: em(10px);
  font-size: em(14px);
  textarea {
    resize: none;
  }
}

.Textarea1 {
  textarea {
    min-height: em(87px);
  }
}

.Button {
  width: 100%;
  max-width: em(187px);
  height: em(63px);
  margin: 0 auto;
  margin-top: em(86px);
  @include ifmobile {
    max-width: em(173px);
    height: em(38px);
    margin-top: em(30px);
  }
}
