.BasePopup {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000000;
  background: $black2;
  min-height: 100%;
  overflow: auto;
  overflow-y: scroll;
}

.BasePopupContent {
  width: 100%;
  position: relative;
  background: $black;
  margin: em(78px) auto;
  max-width: em(1484px);
  padding: em(273px) em(100px) em(100px) em(100px);
  border-radius: 10px;
  box-sizing: content-box;
  @include ifmobile {
    // margin: 0;
    // padding: em(60px) em(20px) em(40px);
  }
}
.BasePopupClose {
  width: em(24px);
  height: em(32px);
  position: absolute;
  top: em(34px);
  right: em(34px);
  cursor: pointer;
  // @include ifmobile {
  //   width: em(20px);
  //   height: em(20px);
  //   top: em(20px);
  //   right: em(20px);
  // }
}

.Visible {
  display: block;
}
