.BasePopup {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000000;
  background: $black2;
  min-height: 100%;
  overflow: auto;
  overflow-y: scroll;
}

.BasePopupContent {
  position: relative;
  background: $black;
  margin: em(78px) auto;
  width: 100%;
  max-width: em(1484px);
  min-height: em(966px);
  padding: em(273px) em(100px) em(100px);
  border-radius: 10px;
  @include iftablet {
    max-width: em(874px);
    min-height: em(638px);
    padding: em(119px) em(68px) em(68px);
    margin: em(60px) auto;
  }
  @include ifmobile {
    max-width: em(286px);
    min-height: em(567px);
    padding: em(69px) em(19px) em(19px);
    margin: em(35px) auto;
  }
}
.BasePopupClose {
  width: em(24px);
  height: em(32px);
  position: absolute;
  top: em(34px);
  right: em(34px);
  cursor: pointer;
  @include iftablet {
    width: em(19px);
    height: em(26px);
    top: em(30px);
    right: em(34px);
  }
  @include ifmobile {
    width: em(11px);
    height: em(15px);
    top: em(20px);
    right: em(20px);
  }
}

.Visible {
  display: block;
}
