.wrapperPage {
  background: $black;
  min-height: 100vh;
  height: auto;
}
.imgContainer {
  position: relative;
  background: $black;
  min-height: 100vh;
  height: auto;
  background: url('/images/landing/docs/docs-bg.png') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
}

.wrapperContent {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.sidebar {
  position: sticky;
  top: 0;
  max-width: em(395px);
  width: 100%;
  padding-top: em(307px);
  @include iftablet {
    max-width: em(282px);
    padding-top: em(205px);
  }
  @include ifmobile {
    display: none;
  }
}

.content {
  max-width: em(1040px);
  width: 100%;
  margin: 0 auto;
  padding-top: em(185px);

  .Breadcrumbs {
    @include ifmobile {
      display: none;
    }
  }

  @include iftablet {
    padding-top: em(137px);
    max-width: em(590px);
  }
  @include ifmobile {
    max-width: em(300px);
    padding-top: em(68px);
  }
}
