.PersonalData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: em(297px);
  padding-bottom: em(87px);
  @include iftablet {
    padding-top: em(178px);
  }
  @include ifmobile {
    padding-top: em(114px);
  }
}

.Title {
  margin-bottom: em(18px);
  text-align: center;
  @include iftablet {
    margin-bottom: em(27px);
  }
  @include ifmobile {
    margin-bottom: em(15px);
    h1 {
      font-size: em(25px);
    }
  }
}

.Subtitle {
  margin-bottom: em(97px);
  text-align: center;
  p {
    font-family: $font-Termina;
  }
  @include iftablet {
    margin-bottom: em(82px);
  }
  @include ifmobile {
    margin-bottom: em(26px);
  }
}

.Inputs {
  width: 100%;
  max-width: em(1110px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: em(127px);
  @include iftablet {
    max-width: em(800px);
    margin-bottom: em(77px);
  }
  @include ifmobile {
    flex-wrap: wrap;
    margin-bottom: em(60px);
  }
}

.SelectGender {
  width: 100%;
  max-width: em(158px);
  @include iftablet {
    max-width: em(134px);
  }
  @include ifmobile {
    max-width: em(109px);
    margin-bottom: em(13px);
  }
}

.FirstName,
.LastName {
  width: 100%;
  max-width: em(320px);
  @include iftablet {
    max-width: em(207px);
  }
  @include ifmobile {
    // max-width: em(286px);
    margin-bottom: em(13px);
  }
}

.FirstName {
  @include ifmobile {
    max-width: em(167px);
    margin-bottom: em(13px);
  }
}
.LastName {
  @include ifmobile {
    max-width: em(138px);
    margin-bottom: em(13px);
  }
}

.Data {
  width: 100%;
  max-width: em(257px);
  @include iftablet {
    max-width: em(207px);
  }
  @include ifmobile {
    max-width: em(138px);
  }
}

.Btn {
  width: 100%;
  max-width: em(289px);
  height: em(82px);
  margin-bottom: em(42px);
  @include iftablet {
    max-width: em(251px);
    height: em(56px);
    margin-bottom: em(45px);
  }
  @include ifmobile {
    max-width: em(173px);
    height: em(38px);
    margin-bottom: em(25px);
  }
}
.LinkHome {
  margin-bottom: em(40px);
  @include iftablet {
    margin-bottom: em(30px);
  }
  @include ifmobile {
    margin-bottom: em(20px);
  }
}
