.PersonalData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: em(297px);
}

.Title {
  margin-bottom: 18px;
}

.Subtitle {
  margin-bottom: 97px;
}

.Inputs {
  width: 100%;
  max-width: em(1110px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: em(127px);
  @include ifmobile {
    flex-wrap: wrap;
  }
}

.Input {
  height: em(83px);
}

.SelectGender {
  width: em(158px);
}

.FirstName,
.LastName {
  width: em(320px);
}

.Data {
  width: em(257px);
}

.Btn {
  width: em(289px);
  height: em(82px);
  margin-bottom: em(10px);
}
