.Completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: em(297px);
}

.Title {
  width: em(1047px);
  margin-bottom: em(44px);
}

.Subtitle {
  margin-bottom: em(26px);
}

.Image {
  margin-bottom: em(49px);
}

.Btn {
  width: em(289px);
  height: em(82px);
  margin-bottom: em(10px);
}
