.Completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: em(200px);
  padding-bottom: em(87px);
  @include ifmobile {
    padding-top: em(114px);
  }
}

.Title {
  width: 100%;
  max-width: em(1047px);
  margin-bottom: em(34px);
  text-align: center;
  @include ifmobile {
    margin-bottom: em(26px);
    h1 {
      font-size: em(25px);
    }
  }
}

.Subtitle {
  margin-bottom: em(26px);
  p {
    font-family: $font-Termina;
  }
  @include iftablet {
    margin-bottom: em(62px);
  }
  @include ifmobile {
    margin-bottom: em(58px);
  }
}

.Image {
  position: relative;
  width: em(168px);
  height: em(140px);
  margin-bottom: em(35px);
}

.Btn {
  width: 100%;
  max-width: em(289px);
  height: em(44px);
  margin-bottom: em(20px);
  @include iftablet {
    max-width: em(251px);
    margin-bottom: em(45px);
  }
  @include ifmobile {
    max-width: em(173px);
    height: em(38px);
  }
}

.LinkHome {
  margin-bottom: em(20px);
}
