.TabList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: em(80px);
  @include iftablet {
    margin-bottom: em(36px);
  }
  @include ifmobile {
    margin-bottom: em(30px);
  }
  .TabItem {
    color: $white;
    font-weight: 400;
    font-size: em(20px);
    line-height: 100%;
    padding: em(22px) 0;
    width: calc(100% / 3);
    cursor: pointer;
    border-bottom: 2px solid $white;
    list-style: none;
    text-align: center;

    @include iftablet {
      font-size: em(17px);
    }
    @include ifmobile {
      font-size: em(12px);
      width: 25%;
      // white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }

    &.Active {
      color: $yellow;
      border-bottom: 2px solid $yellow;
      transition: 0.5s;
      @include ifmobile {
        text-align: left;
        width: 50%;
      }
    }
  }
}

.TabContent {
  position: relative;

  .TabContentItem {
    display: none;
    &.Active {
      display: block;
    }
  }
}
