.bg {
  position: relative;
  background-image: url('/images/landing/contacts/contacts-bg.png');
  background-position: center;
  background-size: cover;
  .blur {
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.6;
    position: absolute;
  }
}
.Wrapper {
  display: flex;
  flex-direction: column;
  padding-top: em(186px);
  padding-bottom: em(179px);
  position: relative;
  @include iftablet {
  }
  @include ifmobile {
    padding-top: em(68px);
    padding-bottom: em(68px);
  }
}

.Breadcrumbs {
  margin-bottom: em(80px);
  @include iftablet {
  }
  @include ifmobile {
    display: none;
  }
}
.Title {
  margin-bottom: em(40px);
  @include iftablet {
  }
  @include ifmobile {
    margin-bottom: em(30px);
  }
  span {
    color: $white;
  }
}

.Content {
  display: flex;
  justify-content: space-between;
  margin-bottom: em(91px);
  @include iftablet {
  }
  @include ifmobile {
    margin-bottom: em(35px);
    flex-wrap: wrap;
  }
  &Info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: em(545px);
    @include iftablet {
    }
    @include ifmobile {
    }
  }
  &Map {
    width: 100%;
    max-width: em(809px);
    @include iftablet {
    }
    @include ifmobile {
      height: em(183px);
      order: -1;
    }
  }
}

.TextBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: em(44px);
  &:last-child {
    margin-bottom: 0;
  }
  @include iftablet {
  }
  @include ifmobile {
    margin-bottom: em(15px);
  }
  &Title {
    color: $yellow;
    margin-bottom: em(8px);
    line-height: 100%;
    font-weight: bold;
    @include iftablet {
    }
    @include ifmobile {
      font-weight: 500;
      font-size: em(16px);
    }
  }
  &SubTitle {
    display: inline-block;
    color: $white;
    max-width: em(336px);
    width: 100%;
    font-size: em(21px);
    @include iftablet {
    }
    @include ifmobile {
    }
  }
}

.ArrowDownContainer {
  display: flex;
  justify-content: center;
  margin-bottom: em(81px);
  @include iftablet {
  }
  @include ifmobile {
    margin-bottom: em(30px);
  }

  .ArrowDownWrapper {
    width: em(168px);
    height: em(168px);
    background-color: $yellow;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include iftablet {
      width: em(92px);
      height: em(92px);
    }
    @include ifmobile {
      width: em(52px);
      height: em(52px);
    }
  }
  .ArrowDownIconWrapper {
    position: relative;
    width: em(30px);
    height: em(66px);
    @include iftablet {
      width: em(17px);
      height: em(38px);
    }
    @include ifmobile {
      width: em(10px);
      height: em(22px);
    }
  }
}

.FormWrapper {
  display: flex;
  justify-content: center;
}
