.BaseInputWrapper {
  position: relative;
}
.BaseInput {
  position: relative;
}

.Input {
  width: 100%;
  height: 100%;
  font-size: em(20px);
  font-weight: 400;
  color: $black;
  outline: none;
  box-sizing: border-box;
  position: relative;
  background: $input;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  vertical-align: middle;
  @include placeholder-color($placeholder);
  //Заменить на Термина
  font-family: $font-Circe;
  &:focus {
    border: 2px solid $yellow;
  }

  @include iftablet {
    font-size: em(17px);
  }
  @include ifmobile {
    font-size: em(11px);
  }
}

.Error {
  border: 2px solid $error;
}

.ErrorText {
  display: block;
  font-size: em(19px);
  line-height: 120%;
  color: $error;
  margin-top: em(20px);
  @include iftablet {
  }
  @include ifmobile {
    font-size: em(9px);
  }
}

.Label {
  font-size: em(19px);
  line-height: 120%;
  color: $white;
  // color: $black;
  text-transform: uppercase;
  margin-bottom: em(19px);
  @include iftablet {
  }
  @include ifmobile {
    font-size: em(12px);
  }
}
