.Widget {
  width: 100%;
}

.Widgetform {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include ifmobile {
    flex-wrap: wrap;
  }
}

.Input {
  width: 100%;
  max-width: em(568px);
  @include iftablet {
    max-width: em(328px);
  }
  @include ifmobile {
    max-width: em(288px);
    margin-bottom: em(13px);
  }
}

.Select {
  width: 100%;
  max-width: em(541px);
  @include iftablet {
    max-width: em(328px);
  }
  @include ifmobile {
    max-width: em(288px);
    margin-bottom: em(61px);
  }
}

.Button {
  width: 100%;
  max-width: em(193px);
  height: em(83px);
  @include iftablet {
    max-width: em(149px);
    height: em(61px);
  }
  @include ifmobile {
    max-width: em(173px);
    height: em(38px);
    margin: 0 auto;
  }
}
