.Phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: em(297px);
  padding-bottom: em(87px);
  @include iftablet {
    padding-top: em(178px);
  }
  @include ifmobile {
    padding-top: em(114px);
  }
}

.Title {
  margin-bottom: em(18px);
  text-align: center;
  @include iftablet {
    margin-bottom: em(27px);
  }
  @include ifmobile {
    margin-bottom: em(15px);
  }
}

.Subtitle {
  margin-bottom: em(97px);
  text-align: center;
  @include iftablet {
    margin-bottom: em(82px);
  }
  @include ifmobile {
    margin-bottom: em(26px);
  }
}

.BtnLogin {
  width: 100%;
  max-width: em(289px);
  height: em(82px);
  margin-bottom: em(42px);
  @include iftablet {
    max-width: em(251px);
    height: em(56px);
    margin-bottom: em(45px);
  }
  @include ifmobile {
    max-width: em(173px);
    height: em(38px);
    margin-bottom: em(25px);
  }
}

.Inputs {
  width: 100%;
  max-width: em(1112px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 em(28px);
  margin-bottom: em(127px);
  @include iftablet {
    margin-bottom: em(77px);
    gap: 0 em(25px);
  }
  @include ifmobile {
    gap: 0 em(14px);
    margin-bottom: em(61px);
  }
}

.Input {
  width: 100%;
  max-width: em(541px);
  input {
    padding: 0 em(47px);
    min-height: em(83px, 20px);
  }

  @include iftablet {
    max-width: em(440px);
    input {
      padding: 0 em(37px);
      min-height: em(62px, 17px);
    }
  }
  @include ifmobile {
    max-width: em(136px);
    input {
      padding: 0 em(27px);
      min-height: em(44px, 11px);
    }
  }
}

.SearchSelect {
  width: 100%;
  max-width: em(541px);
  height: em(83px);
  @include iftablet {
    height: em(61px);
  }
  @include ifmobile {
    max-width: em(136px);
    height: em(44px);
  }
}
