.SelectContainer {
  position: relative;
}

.SelectHeader {
  width: 30%;
  height: 100%;
  background: $input;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: em(10px);
  padding: 0 em(37px);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: em(83px);

  @include iftablet {
    height: em(61px);
    padding: 0 em(30px);
  }
  @include ifmobile {
    padding: 0 em(17px);
    height: em(44px);
  }

  span {
    font-size: em(20px);
    font-weight: normal;
    line-height: 100%;
    color: $placeholder;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include iftablet {
      font-size: em(17px);
    }
    @include ifmobile {
      font-size: em(11px);
    }
  }
  .NotEmpty {
    color: $black;
  }
}

.SelectHeaderFocus {
  border: 2px solid $yellow;
}

.IconArrow {
  width: em(16px);
  height: em(16px);
  position: absolute;
  right: em(19px);
  @include iftablet {
    width: em(13px);
    height: em(13px);
    right: em(17px);
  }
  @include ifmobile {
    width: em(7px);
    height: em(7px);
    right: em(13px);
  }
}

.IconArrowTop {
  top: calc(45% - em(16px));
  @include iftablet {
    top: calc(45% - em(13px));
  }
  @include ifmobile {
    top: calc(45% - em(7px));
  }
}

.IconArrowBottom {
  bottom: calc(45% - em(18px));
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  @include iftablet {
    bottom: calc(45% - em(13px));
  }
  @include ifmobile {
    bottom: calc(45% - em(7px));
  }
}

.SelectList {
  position: absolute;
  top: em(96px);
  z-index: 1000;
  width: 100%;
  background: #f2f5f6;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: em(10px);
  overflow: hidden;
  @include iftablet {
    top: em(75px);
  }
  @include ifmobile {
    top: em(49px);
  }
}

.Ul {
  max-height: em(170px);
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  @include iftablet {
    max-height: em(122px);
  }
  @include ifmobile {
    max-height: em(88px);
  }
}

.Ul::-webkit-scrollbar {
  display: none;
  width: 0px; /* For Chrome, Safari, and Opera */
}

.Li {
  cursor: pointer;
  width: 100%;
  height: em(83px);
  list-style: none;
  display: flex;
  align-items: center;
  color: $placeholder;
  padding-left: em(72px);
  padding-right: em(20px);

  @include iftablet {
    height: em(61px);
    padding-left: em(54px);
  }
  @include ifmobile {
    height: em(44px);
    padding-left: em(25px);
  }
  &:hover {
    background: $light_grey;
  }
  span {
    font-size: em(20px);
    font-weight: normal;
    line-height: 120%;
    @include iftablet {
      font-size: em(17px);
    }
    @include ifmobile {
      font-size: em(11px);
    }
  }
}

.SelectSearch {
  min-height: em(83px);
  position: relative;
  padding-left: em(72px);
  @include iftablet {
    min-height: em(61px);
    padding-left: em(54px);
  }
  @include ifmobile {
    min-height: em(44px);
    padding-left: em(45px);
  }
}

.IconSearch {
  width: em(34px);
  height: em(34px);
  position: absolute;
  top: em(24px);
  left: em(20px);
  @include iftablet {
    width: em(25px);
    height: em(25px);
  }
  @include ifmobile {
    top: em(17px);
    left: em(16px);
    width: em(15px);
    height: em(15px);
  }
}

.Input {
  width: 90%;
  font-size: em(20px);
  line-height: 120%;
  font-weight: 400;
  color: $black;
  outline: none;
  box-sizing: border-box;
  position: relative;
  background: $input;
  font-family: $font-Termina;
  // padding-top: em(20px);
  border: none;
  margin-top: em(30px);
  @include iftablet {
    font-size: em(17px);
  }
  @include ifmobile {
    font-size: em(11px);
  }
}

.CountryCode {
  color: $black;
  margin-right: em(24px);
}

.Error {
  border: 2px solid $error;
}

.ErrorText {
  display: block;
  font-size: em(16px);
  line-height: 120%;
  color: $error;
  margin-top: em(20px);
  @include iftablet {
    font-size: em(12px);
  }
  @include ifmobile {
    font-size: em(9px);
  }
}
