.CorporateDocuments {
  .Description {
    font-family: $font-Calibri;
    font-style: normal;
    font-weight: 400;
    font-size: em(19px);
    line-height: 120%;
    color: $white;
    margin-bottom: em(74px);

    @include iftablet {
      font-size: em(15px);
      margin-bottom: em(36px);
    }
    @include ifmobile {
    }
  }

  .ImageDesktop {
    position: relative;
    display: none;
    width: 100%;
    max-width: em(1350px);
    height: em(252px);
    position: relative;
    margin-bottom: em(99px);
    @include ifdesktop {
      display: block;
    }
  }

  .ImageTablet {
    width: 100%;
    max-width: em(860px);
    height: em(208px);
    position: relative;
    display: none;
    margin-bottom: em(65px);
    @include iftablet {
      display: block;
    }
  }

  .ImageMobile {
    display: none;
    width: 100%;
    max-width: em(973px);
    min-height: em(60px);
    position: relative;
    margin-bottom: em(29px);
    @include ifmobile {
      display: block;
    }
  }

  .Widgetform {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Input {
      width: 100%;
      max-width: em(543px);
      @include iftablet {
        max-width: em(330px);
      }
      @include ifmobile {
      }
    }
    .Select {
      width: 100%;
      max-width: em(458px);
      @include iftablet {
        width: em(330px);
      }
      @include ifmobile {
      }
    }
    .Button {
      width: 100%;
      max-width: em(289px);
      @include iftablet {
        max-width: em(149px);
      }
      @include ifmobile {
      }
    }
  }
}
