.CorporateDocuments {
  .Description {
    font-family: $font-Calibri;
    font-style: normal;
    font-weight: 400;
    font-size: em(19px);
    line-height: 120%;
    color: $white;
    margin-bottom: em(74px);

    @include iftablet {
      font-size: em(15px);
      margin-bottom: em(36px);
    }
    @include ifmobile {
    }
  }

  .ImageDesktop {
    position: relative;
    display: none;
    width: 100%;
    max-width: em(1350px);
    height: em(252px);
    position: relative;
    margin-bottom: em(99px);
    @include ifdesktop {
      display: block;
    }
  }

  .ImageTablet {
    width: 100%;
    max-width: em(860px);
    height: em(208px);
    position: relative;
    display: none;
    margin-bottom: em(65px);
    @include iftablet {
      display: block;
    }
  }

  .Widgetform {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Input {
      width: 100%;
      max-width: em(543px);
      @include iftablet {
        max-width: em(330px);
      }
      @include ifmobile {
      }
    }
    .Select {
      width: 100%;
      max-width: em(458px);
      @include iftablet {
        width: em(330px);
      }
      @include ifmobile {
      }
    }
    .Button {
      width: 100%;
      max-width: em(289px);
      @include iftablet {
        max-width: em(149px);
      }
      @include ifmobile {
      }
    }
  }

  .WidgetContent {
    .NotAccepting {
      .NotAcceptingMessage {
        padding: em(25px);
        border: 2px solid $pink;
        margin: em(25px) 0;
        P {
          font-size: em(19px);
          line-height: 120%;
          font-family: $font-Calibri;
          font-style: normal;
          font-weight: normal;
          color: $white;
          background: rgba(75, 75, 75, 0.7);
          padding: em(35px);
          border-radius: 10px;
          span {
            color: $pink;
          }
        }
      }

      .NotAcceptingBtn {
        width: em(187px);
        height: em(63px);
        margin: 0 auto;
        margin-top: em(63px);
      }
    }

    .ChoiceCompany {
      .ManyOptions {
        padding: em(35px);
        background: rgba(75, 75, 75, 0.7);
        border-radius: 10px;
        border-top: 2px solid $pink;
        margin: em(30px) 0;
        p {
          font-size: em(19px);
          line-height: 120%;
          font-family: $font-Calibri;
          font-style: normal;
          font-weight: normal;
          color: $white;
          span {
            color: $pink;
          }
        }
      }

      // .CompaniesList {
      // }
    }

    .NonExistentName {
      padding: em(35px);
      background: rgba(75, 75, 75, 0.7);
      border-radius: 10px;
      border-top: 2px solid $pink;
      margin: em(30px) 0;
      p {
        font-size: em(19px);
        line-height: 120%;
        font-family: $font-Calibri;
        font-style: normal;
        font-weight: normal;
        color: $white;
        span {
          color: $pink;
        }
      }
    }

    .Table {
      margin-bottom: em(81px);
      @include iftablet {
        margin-bottom: em(49px);
      }
      @include ifmobile {
      }

      table {
        width: 100%;
        border-collapse: collapse;
        thead {
          .Clear {
            width: 5%;
            @include iftablet {
            }
            @include ifmobile {
            }
          }
          .Name {
            width: 55%;
            @include iftablet {
            }
            @include ifmobile {
            }
          }

          .Price {
            width: 30%;
            @include iftablet {
              width: 25%;
            }
            @include ifmobile {
            }
          }

          .Info {
            width: 10%;
            @include iftablet {
              width: 5%;
            }
            @include ifmobile {
            }
          }

          th {
            font-weight: bold;
            font-size: em(17px);
            line-height: 100%;
            letter-spacing: -0.05em;
            color: $white;
            border-bottom: 1px solid $white;
            text-align: left;
            padding: 0 em(22px) em(19px);
            @include iftablet {
              font-size: em(14px);
              padding-left: 0;
            }
            @include ifmobile {
            }
          }
        }
        tbody {
          tr {
            &:first-child {
              td {
                padding-top: em(25px);
              }
            }
            &:last-child {
              border-bottom: 1px solid $white;
              td {
                padding-bottom: em(25px);
              }
            }
          }
          td {
            padding: em(10px) em(22px);
            padding-right: 0;
            line-height: 0;

            @include iftablet {
              padding: em(19px);
              padding-left: 0;
            }
            @include ifmobile {
            }
            .SelectItemDescription {
              font-size: em(19px);
              line-height: 100%;
              font-family: $font-Calibri;
              font-style: normal;
              font-weight: normal;
              color: $white;
              @include iftablet {
                font-size: em(15px);
              }
              @include ifmobile {
              }
            }

            .Select {
              width: 100%;
              max-width: em(542px);
              @include iftablet {
                // max-width: em(304px);
              }
              @include ifmobile {
              }
            }

            .Question {
              display: flex;
              justify-content: center;
              align-items: center;
              width: em(32px);
              height: em(32px);
              border: 2px solid $yellow;
              border-radius: 50%;
              cursor: pointer;
              box-sizing: border-box;
              @include iftablet {
                width: em(23px);
                height: em(23px);
              }
              @include ifmobile {
              }
              .QuestionTitle {
                font-size: em(19px);
                line-height: 100%;
                color: $yellow;
                font-family: $font-Calibri;
                font-style: normal;
                font-weight: bold;
                @include iftablet {
                  font-size: em(15px);
                }
                @include ifmobile {
                }
              }
            }
          }

          .ValidItem {
            justify-content: center;
            @include iftablet {
              justify-content: flex-start;
            }
            @include ifmobile {
              justify-content: flex-start;
            }
            svg {
              width: em(32px);
              height: em(32px);
              @include iftablet {
                width: em(22px);
                height: em(22px);
              }
              @include ifmobile {
              }
            }
          }

          .TdSelect {
            text-align: center;
            vertical-align: inherit;

            @include iftablet {
              padding-left: 0;
              text-align-last: left;
            }
            @include ifmobile {
              padding-left: 0;
              text-align-last: left;
            }
          }
        }

        tfoot {
          tr {
            border-bottom: none;
            th {
              padding: em(22px);
              padding-right: 0;
              text-align: left;
              line-height: 0;
              @include iftablet {
                padding: em(19px);
                padding-left: 0;
              }
              @include ifmobile {
              }

              .Total {
                float: right;
                font-size: em(17px);
                color: $white;
                font-weight: bold;
                line-height: 100%;
                letter-spacing: -0.05em;
                @include iftablet {
                  font-size: em(14px);
                }
                @include ifmobile {
                }
              }
            }
          }
        }

        .PriceValue {
          color: $pink;
          font-size: em(19px);
          line-height: 100%;
          font-family: $font-Calibri;
          font-style: normal;
          font-weight: normal;
          @include iftablet {
            font-size: em(15px);
          }
          @include ifmobile {
          }
        }

        .Currency {
          color: $grey;
          font-size: em(19px);
          line-height: 100%;
          font-family: $font-Calibri;
          font-style: normal;
          font-weight: normal;
          @include iftablet {
            font-size: em(15px);
          }
          @include ifmobile {
          }
        }

        .Bold {
          font-weight: bold;
        }
      }
    }

    .Button {
      width: 100%;
      max-width: em(187px);
      height: em(63px);
      margin-top: em(-115px);
      margin-left: em(30px);
      @include iftablet {
        // max-width: em(149px);
        // height: em(56px);
      }
      @include ifmobile {
      }
    }
  }
}
