.CorporateDocuments {
  .Description {
    font-family: $font-Calibri;
    font-style: normal;
    font-weight: 400;
    font-size: em(19px);
    line-height: 120%;
    color: $white;
    margin-bottom: em(74px);

    @include iftablet {
      font-size: em(15px);
      margin-bottom: em(36px);
    }
    @include ifmobile {
    }
  }

  .ImageDesktop {
    position: relative;
    display: none;
    width: 100%;
    max-width: em(1350px);
    height: em(252px);
    position: relative;
    margin-bottom: em(99px);
    @include ifdesktop {
      display: block;
    }
  }

  .ImageTablet {
    width: 100%;
    max-width: em(860px);
    height: em(208px);
    position: relative;
    display: none;
    margin-bottom: em(65px);
    @include iftablet {
      display: block;
    }
  }

  .Widgetform {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Input {
      width: 100%;
      max-width: em(543px);
      @include iftablet {
        max-width: em(330px);
      }
      @include ifmobile {
      }
    }
    .Select {
      width: 100%;
      max-width: em(458px);
      @include iftablet {
        width: em(330px);
      }
      @include ifmobile {
      }
    }
    .Button {
      width: 100%;
      max-width: em(289px);
      @include iftablet {
        max-width: em(149px);
      }
      @include ifmobile {
      }
    }
  }

  .WidgetContent {
    .NotAccepting {
      .NotAcceptingMessage {
        padding: em(25px);
        border: 2px solid $pink;
        margin: em(25px) 0;
        P {
          font-size: em(19px);
          line-height: 120%;
          font-family: $font-Calibri;
          font-style: normal;
          font-weight: normal;
          color: $white;
          background: rgba(75, 75, 75, 0.7);
          padding: em(35px);
          border-radius: 10px;
          span {
            color: $pink;
          }
        }
      }

      .NotAcceptingBtn {
        width: em(187px);
        height: em(63px);
        margin: 0 auto;
        margin-top: em(63px);
      }
    }

    .ChoiceCompany {
      .ManyOptions {
        padding: em(35px);
        background: rgba(75, 75, 75, 0.7);
        border-radius: 10px;
        border-top: 2px solid $pink;
        margin: em(30px) 0;
        p {
          font-size: em(19px);
          line-height: 120%;
          font-family: $font-Calibri;
          font-style: normal;
          font-weight: normal;
          color: $white;
          span {
            color: $pink;
          }
        }
      }

      // .CompaniesList {
      // }
    }

    .NonExistentName {
      padding: em(35px);
      background: rgba(75, 75, 75, 0.7);
      border-radius: 10px;
      border-top: 2px solid $pink;
      margin: em(30px) 0;
      p {
        font-size: em(19px);
        line-height: 120%;
        font-family: $font-Calibri;
        font-style: normal;
        font-weight: normal;
        color: $white;
        span {
          color: $pink;
        }
      }
    }
  }
}
