.CountryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: em(295px);
  height: em(189px);
  background: $black2;
  border-radius: 10px;
  padding: em(42px);
  cursor: pointer;

  .CountryItemImage {
    position: relative;
    width: em(37px);
    height: em(37px);
    margin-bottom: em(15px);
  }

  .CountryItemTitle {
    font-size: em(20px);
    line-height: 100%;
    font-weight: bold;
    color: $green;
    text-transform: uppercase;
    text-align: center;
  }
}
