// HeaderBlock
.BackgroundImage {
  z-index: 0;
}

.HeaderBlock {
  position: relative;
  // padding-top: em(338px);
  padding-top: em(240px);
  padding-bottom: em(177px);
  min-height: 100vh;
  @include iftablet {
    padding-top: em(154px);
    padding-bottom: em(73px);
    min-height: 100%;
  }
  @include ifmobile {
    padding-top: em(60px);
    padding-bottom: em(81px);
    min-height: 100%;
  }
}

.HeaderBlockContainer {
  display: flex;
  color: $white;
  width: 100%;
  justify-content: space-between;

  @include iftablet {
  }

  @include ifmobile {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.HeaderBlockText {
  // max-width: em(745px);
  max-width: em(600px);
  padding-top: em(40px);
  // padding-top: em(82px);
  @include iftablet {
    margin-bottom: em(50px);
    padding-top: em(30px);
  }
  @include ifmobile {
    padding-top: 0;
  }
}

.HeaderBlockForm {
  // margin-right: em(-100px);
  @include iftablet {
    margin-right: em(-60px);
  }
  @include ifmobile {
    margin-right: 0;
  }
}

.BlockText {
  &Title {
    // font-size: em(69px);
    font-size: em(54px);
    line-height: 120%;
    margin-bottom: em(22px);
    font-weight: bold;
    @include iftablet {
      font-size: em(50px);
      margin-bottom: em(11px);
    }
    @include ifmobile {
      font-size: em(26px);
      margin-bottom: em(20px);
    }
  }
  &Description {
    position: relative;
    width: 100%;
    max-width: em(459px);
    margin-bottom: em(40px);
    @include iftablet {
      max-width: em(371px);
      margin-bottom: em(28px);
    }
    @include ifmobile {
      display: none;
    }
    P {
      font-family: $font-Calibri;
      font-size: em(19px);
      font-weight: 400;
      @include iftablet {
        font-size: em(18px);
        line-height: em(22px);
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $white;
      top: em(-20px);
    }
  }
  &Icons {
    width: 100%;
    max-width: em(385px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include iftablet {
      max-width: em(310px);
    }
    @include ifmobile {
      display: none;
    }

    // img {
    // cursor: pointer;
    // filter: gray; /* IE6-9 */
    // -webkit-filter: grayscale(100%);
    // transition: 0.3s;
    // &:hover {
    //   filter: none;
    // }
    // }
  }
}
.LogoText {
  width: em(269px);
  height: em(20px);
  margin-bottom: em(28px);

  @include iftablet {
    width: em(180px);
    height: em(13px);
    margin-bottom: em(18px);
  }

  @include ifmobile {
    width: em(90px);
    height: em(7px);
    margin-bottom: em(9px);
  }
}

.Logo {
  width: em(439px);
  height: em(87px);

  @include iftablet {
    width: em(294px);
    height: em(58px);
  }

  @include ifmobile {
    width: em(147px);
    height: em(29px);
  }
}

// HelloBlock
.HelloBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: em(150px);
  // padding-top: em(203px);
  padding-bottom: em(128px);

  @include iftablet {
    padding-top: em(84px);
    padding-bottom: em(118px);
  }

  @include ifmobile {
    flex-wrap: wrap;
    padding-top: em(84px);
    padding-bottom: em(40px);
  }
}

.ContentText {
  display: block;
}

.HelloBlockTitle {
  display: block;
  margin-bottom: em(52px);
  h1 {
    color: $white;
  }

  @include iftablet {
    margin-bottom: em(27px);
    h1 {
      font-size: em(50px);
    }
  }

  @include ifmobile {
    margin-bottom: em(24px);
    h1 {
      font-size: em(33px);
      text-align: left !important;
    }
  }
}

.HelloBlockText {
  display: block;
  width: 100%;
  max-width: em(652px);
  margin-bottom: em(60px);
  p {
    font-size: em(18px);
    // font-size: em(21px);
  }

  @include iftablet {
    max-width: em(437px);
    p {
      font-size: em(18px);
    }
  }

  @include ifmobile {
    p {
      font-size: em(12px);
      text-align: left !important;
    }
  }
}

.ContentImage {
  display: block;
  position: relative;
  width: em(653px);
  height: em(503px);
  left: em(-50px);
  @include iftablet {
    width: em(413px);
    height: em(318px);
  }

  @include ifmobile {
    width: em(150px);
    height: em(115px);
  }
}

.BlockLeft {
  @include ifmobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ContentText {
      max-width: em(131px);
      order: 1;
    }

    .ContentImage {
      left: em(-24px);
      top: em(43px);
    }
  }
}

.BlockRight {
  margin-top: em(312px);
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  @include iftablet {
    margin-top: em(133px);
  }

  @include ifmobile {
    margin-top: em(30px);
    text-align: left;
  }

  .HelloBlockTitle {
    width: em(416px);
    align-self: flex-end;
    @include ifmobile {
      width: 100%;
    }
  }

  .HelloBlockText {
    width: em(547px);
    margin-bottom: em(34px);
    @include iftablet {
      width: em(368px);
    }

    @include ifmobile {
      width: 100%;
      margin-bottom: em(20px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//ServicesBlock
.ServicesBlock {
  padding-top: em(150px);
  padding-bottom: em(130px);
  background: $black2;
  min-height: 100vh;

  @include iftablet {
    padding-top: em(139px);
    padding-bottom: em(160px);
    min-height: 100%;
  }

  @include ifmobile {
    padding-top: em(60px);
    padding-bottom: em(60px);
    min-height: 100%;
  }

  .ServicesBlockTitle {
    margin-bottom: em(93px);
    @include iftablet {
      margin-bottom: em(62px);
    }

    @include ifmobile {
      margin-bottom: em(28px);
    }
  }

  .ServicesBlockItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(94px) em(192px);

    @include iftablet {
      gap: em(40px) em(185px);
    }

    @include ifmobile {
      gap: 0;
    }

    .ServicesBlockItem {
      width: em(577px);

      @include iftablet {
        width: em(326px);
      }

      @include ifmobile {
        margin-bottom: em(28px);
        &:last-child {
          margin-bottom: 0;
        }
      }

      // &:nth-last-of-type(-n + 2) {
      //   margin-bottom: 0;
      // }
    }

    .ServicesItemTitle {
      margin-bottom: em(30px);
      // margin-bottom: em(52px);
      @include iftablet {
        margin-bottom: em(35px);
      }

      @include ifmobile {
        margin-bottom: em(28px);
      }
    }

    .ServicesItemText {
      font-size: em(21px);
      line-height: 120%;
      font-weight: 400;
      color: $white;
      font-family: $font-Calibri;
      @include iftablet {
        font-size: em(18px);
      }

      @include ifmobile {
        font-size: em(12px);
      }
    }
  }
}

//ConclusionBlock
.ConclusionBlock {
  // background-image: url("/images/landing/bgHome2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .ConclusionBlockContent {
    padding-top: em(150px);
    padding-bottom: em(130px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include iftablet {
      min-height: 100%;
    }
    @include ifmobile {
      min-height: 100%;
    }

    .ConclusionBlockImage {
      position: relative;
      width: em(200px);
      height: em(200px);
      margin-bottom: em(40px);
      @include iftablet {
        width: em(104px);
        height: em(104px);
      }
      @include ifmobile {
        width: em(74px);
        height: em(74px);
        margin-bottom: em(20px);
        margin-right: 0;
      }
    }

    .ConclusionBlockTitle {
      width: 100%;
      max-width: em(620px);
      text-align: center;
      margin: 0 auto;
      @include ifmobile {
        max-width: em(228px);
      }
      p {
        font-size: em(24px);
        font-weight: 700;
        line-height: 120%;
        color: $pink;
        @include ifmobile {
          font-size: em(16px);
          text-align: center;
        }
      }
    }
  }
}

// Icons
.Clients {
  &EnglandBank {
    position: relative;
    width: em(50px);
    height: em(50px);
    @include iftablet {
      width: em(34px);
      height: em(35px);
    }
    @include ifmobile {
    }
  }
  &Treasury {
    position: relative;
    width: em(50px);
    height: em(50px);
    @include iftablet {
      width: em(34px);
      height: em(35px);
    }
    @include ifmobile {
    }
  }
  &Departament {
    position: relative;
    width: em(50px);
    height: em(50px);
    @include iftablet {
      width: em(34px);
      height: em(35px);
    }
    @include ifmobile {
    }
  }
  &Canada {
    position: relative;
    width: em(86px);
    height: em(20px);
    @include iftablet {
      width: em(69.46px);
      height: em(16.55px);
    }
    @include ifmobile {
    }
  }
  &Fca {
    position: relative;
    width: em(88px);
    height: em(28px);
    @include iftablet {
      width: em(71px);
      height: em(23px);
    }
    @include ifmobile {
    }
  }
  &Fma {
    position: relative;
    width: em(100px);
    height: em(30px);
    @include iftablet {
      width: em(81.81px);
      height: em(23.81px);
    }
    @include ifmobile {
    }
  }
  &Bank {
    position: relative;
    width: em(140px);
    height: em(60px);
    @include iftablet {
      width: em(93px);
    }
    @include ifmobile {
    }
  }
  &Asic {
    position: relative;
    width: em(120px);
    height: em(25px);
    @include iftablet {
      width: em(96.29px);
      height: em(20.44px);
    }
    @include ifmobile {
    }
  }
}
