.AccordionCareerItem {
  background: $black2;
  border-radius: em(10px);
  margin-bottom: em(11px);

  .AccordionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: em(30px) 0;
    @include ifmobile {
      padding: em(17px) 0;
    }

    .AccordionHeaderTitle {
      font-size: em(16px);
      line-height: 100%;
      color: $yellow;
      font-weight: 400;
      padding-left: em(50px);
      @include ifmobile {
        font-size: em(12px);
        padding-left: em(24px);
      }
    }

    .AccordionHeaderToggle {
      position: absolute;
    }
    .Open {
      width: em(16.44px);
      height: em(14.54px);
      right: em(29px);
      top: em(29.51px);

      @include ifmobile {
        width: em(18px);
        height: em(15px);
        top: em(14px);
        right: em(20px);
      }
    }

    .Close {
      width: em(28px);
      height: em(28px);
      top: em(25px);
      right: em(23px);
      border-radius: 50%;
      background: $green;
      @extend %center;

      @include ifmobile {
        width: em(25px);
        height: em(25px);
        top: em(11px);
        right: em(16.4px);
      }
      .IconAccordionClose {
        width: em(13.71px);
        height: em(16.44px);

        @include ifmobile {
          width: em(9.4px);
          height: em(11.27px);
        }
      }
    }
  }

  .AccordionContent {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
  }

  .AccordionContentHidden {
    max-height: 0;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
  }
}
