.WelcomeBlock {
  padding-top: em(315px);
  padding-bottom: em(80px);
  position: relative;

  @include iftablet {
    padding-top: em(190px);
    padding-bottom: em(60px);
  }

  @include ifmobile {
    padding-top: em(84px);
    padding-bottom: em(40px);
  }

  .WelcomeBlockTitle {
    margin-bottom: em(37px);
    @include iftablet {
      margin-bottom: em(35px);
    }

    @include ifmobile {
      margin-bottom: em(27px);
    }
    h1 {
      color: $white;
    }
  }

  .WelcomeBlockUl {
    position: relative;

    .WelcomeBlockLi {
      max-width: em(646px);
      margin-bottom: em(20px);
      list-style: none;
      position: relative;
      @include iftablet {
        max-width: em(502px);
      }

      @include ifmobile {
        max-width: 100%;
      }

      .WelcomeBlockText {
        p {
          font-size: em(21px);
          font-family: $font-Calibri;
          @include iftablet {
            font-size: em(18px);
          }

          @include ifmobile {
            font-size: em(12px);
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .WelcomeBlockImage {
    position: relative;
    z-index: 100;
    top: em(-44px);
    right: 0;
    width: em(661px);
    height: em(574px);
    float: right;
    @include iftablet {
      width: em(378px);
      height: em(313px);
      top: em(0px);
      right: em(-50px);
    }
    //решит вопрос с картинкой и текстом
    @include ifmobile {
      top: em(-5px);
      right: em(-14px);
      width: em(137px);
      height: em(132px);
    }
  }
}

.AboutContainer {
  background: $black2;

  .About {
    padding-top: em(419px);
    padding-bottom: em(67px);
    position: relative;
    @extend %center;
    flex-direction: column;

    @include iftablet {
      padding-top: em(214px);
      padding-bottom: em(56px);
    }
    @include ifmobile {
      padding-top: em(148px);
      padding-bottom: em(50px);
    }

    .AboutImage {
      position: absolute;
      z-index: 10;
      top: em(107px);
      margin: 0 auto;
      width: em(385px);
      height: em(385px);
      @include iftablet {
        top: em(81px);
        width: em(171px);
        height: em(171px);
      }
      @include ifmobile {
        top: em(72px);
        width: em(107px);
        height: em(107px);
      }
    }

    .AboutTitle {
      width: 100%;
      max-width: em(873px);
      position: relative;
      z-index: 11;
      margin-bottom: em(126px);
      h1 {
        font-size: em(50px);
        text-align: center;
      }
      @include iftablet {
        max-width: em(716px);

        h1 {
          font-size: em(40px);
        }
      }
      @include ifmobile {
        max-width: em(260px);
        margin-bottom: em(70px);
        h1 {
          font-size: em(24px);
        }
      }
    }

    .AboutSubtitle {
      max-width: em(629px);
      margin-bottom: em(85px);
      p {
        font-size: em(30px);
        line-height: 100%;
        font-weight: bold;
        text-align: center;
        color: $grey;
      }
      @include iftablet {
        margin-bottom: em(43px);
        p {
          font-size: em(24px);
        }
      }
      @include ifmobile {
        max-width: em(269px);
        margin-bottom: em(70px);
        p {
          font-size: em(16px);
        }
      }
    }

    .AboutIcon {
      width: em(168px);
      height: em(168px);
      border-radius: 50%;
      background: $yellow;
      @extend %center;

      @include iftablet {
        width: em(92px);
        height: em(92px);
      }
      @include ifmobile {
        width: em(60px);
        height: em(60px);
      }

      .AboutIconCircleDown {
        position: relative;
        width: em(62px);
        height: em(86px);
        @include iftablet {
          width: em(34px);
          height: em(46px);
        }
        @include ifmobile {
          width: em(22px);
          height: em(30px);
        }
      }
    }
  }
}

.GraphBlock {
  padding-top: em(219px);
  padding-bottom: em(175px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include iftablet {
    padding-top: em(86px);
    padding-bottom: em(50px);
  }
  @include ifmobile {
    padding-top: em(72px);
    padding-bottom: em(22px);
  }

  .GraphBlockTitle {
    margin-bottom: em(48px);
    h1 {
      color: $white;
      text-align: center;
    }

    @include iftablet {
      margin-bottom: em(24px);
    }
    @include ifmobile {
      margin-bottom: em(24px);
    }
  }

  .GraphBlockSubtitle {
    margin-bottom: em(123px);
    h1 {
      font-size: em(30px);
      text-align: center;
    }

    @include iftablet {
      margin-bottom: em(34px);
      h1 {
        font-size: em(24px);
      }
    }
    @include ifmobile {
      margin-bottom: em(49px);
      h1 {
        font-size: em(16px);
      }
    }
  }

  .GraphBlockImg {
    position: relative;
  }

  .GraphBlockImgDesktop {
    display: block;
    width: 100%;
    height: em(618px);
    margin-bottom: em(161px);
    position: relative;
    @include iftablet {
      width: 100%;
      height: em(370px);
      margin-bottom: em(80px);
    }
    @include ifmobile {
      display: none;
    }
  }
  .GraphBlockImgMobile {
    display: none;
    width: em(306px);
    height: em(322px);
    margin-bottom: em(19px);
    position: relative;
    @include ifmobile {
      display: block;
    }
  }

  .GraphBlockBtn {
    width: 100%;
    max-width: em(289px);
    height: em(63px);

    @include iftablet {
      max-width: em(149px);
      height: em(43px);
    }
    @include ifmobile {
      max-width: em(76px);
      height: em(33px);
    }
  }
}

// .GraphBlockGraph {
//   width: 100%;

//   .Graph {
//     width: 100%;
//     min-height: em(2097px);
//     position: relative;
//   }
// }
