.ValidItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ValidItemIcon {
  display: inline-flex;
  margin-bottom: auto;
}

.Icon {
  width: em(32px);
  height: em(32px);
  @include iftablet {
    width: em(29px);
    height: em(29px);
  }
  @include ifmobile {
    width: em(13px);
    height: em(13px);
  }
}

.Text {
  font-size: em(18px);
  line-height: 120%;
  font-weight: 400;
  color: $white;
  padding-left: em(25px, 20px);

  @include iftablet {
    font-size: em(17px);
    padding-left: em(19px, 17px);
  }
  @include ifmobile {
    font-size: em(9px);
    padding-left: em(10px, 9px);
  }
}
