.ConfirmPhone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: em(200px);
  padding-bottom: em(87px);
  @include ifmobile {
    padding-top: em(114px);
  }
}

.Title {
  margin-bottom: em(18px);
  text-align: center;
  @include ifmobile {
    margin-bottom: em(15px);
    h1 {
      font-size: em(25px);
    }
  }
}

.Subtitle {
  margin-bottom: em(60px);
  text-align: center;
  p {
    font-family: $font-Termina;
  }
  @include ifmobile {
    margin-bottom: em(26px);
  }
}

.BtnLogin {
  width: 100%;
  max-width: em(289px);
  height: em(44px);
  margin-bottom: em(20px);
  @include iftablet {
    max-width: em(251px);
    margin-bottom: em(45px);
  }
  @include ifmobile {
    max-width: em(173px);
    height: em(38px);
  }
}

.Input {
  width: 100%;
  max-width: em(360px);
  margin-bottom: em(60px);

  @include iftablet {
    max-width: em(440px);
  }
  @include ifmobile {
    max-width: em(286px);
  }
}
.LinkHome {
  margin-bottom: em(20px);
}
