.WelcomeBlock {
  padding-top: em(311px);
  padding-bottom: em(198px);
  position: relative;

  @include iftablet {
    padding-top: em(203px);
    padding-bottom: em(121px);
  }
  @include ifmobile {
    padding-top: em(84px);
    padding-bottom: em(71px);
  }

  .WelcomeBlockTitle {
    margin-bottom: em(37px);
    @include iftablet {
      margin-bottom: em(37px);
    }
    @include ifmobile {
      margin-bottom: em(27px);
    }
    h1 {
      color: $white;
    }
  }

  .WelcomeBlockUl {
    position: relative;
    .WelcomeBlockLi {
      margin-bottom: em(20px);
      list-style: none;
      max-width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      .WelcomeBlockText {
        p {
          font-size: em(21px);
          font-family: $font-Calibri;
          @include iftablet {
            font-size: em(17px);
          }
          @include ifmobile {
            font-size: em(12px);
          }
        }
      }
    }
    .GreenTExt {
      margin-top: em(97px);
      @include iftablet {
        margin-top: em(41px);
      }
      @include ifmobile {
        margin-top: 0;
        max-width: 100%;
      }
      P {
        color: $green;
        font-size: em(20px);
        font-weight: bold;
        font-family: $font-Termina !important;
        @include iftablet {
          font-size: em(17px);
        }
        @include ifmobile {
          font-size: em(11px);
        }
      }
    }
  }

  .WelcomeBlockImage {
    position: relative;
    z-index: 10;
    right: em(-40px);
    top: em(-200px);
    width: em(637px);
    height: em(546px);
    float: right;
    margin-left: em(107px);
    @include iftablet {
      right: em(-40px);
      top: em(-100px);
      width: em(378px);
      height: em(324px);
      margin-left: em(15px);
    }
    @include ifmobile {
      top: em(-20px);
      right: em(0px);
      width: em(148px);
      height: em(122px);
      margin-left: 0;
    }
  }

  .AboutIcon {
    width: em(168px);
    height: em(168px);
    border-radius: 50%;
    background: $yellow;
    @extend %center;
    position: absolute;
    bottom: em(-84px);
    right: calc(50% - em(84px));

    @include iftablet {
      width: em(92px);
      height: em(92px);
      bottom: em(-46px);
      right: calc(50% - em(46px));
    }
    @include ifmobile {
      width: em(52px);
      height: em(52px);
      bottom: em(-26px);
      right: calc(50% - em(26px));
    }

    .AboutIconCircleDown {
      position: relative;
      width: em(62px);
      height: em(86px);
      @include iftablet {
        width: em(34px);
        height: em(46px);
      }
      @include ifmobile {
        width: em(20px);
        height: em(26px);
      }
    }
  }
}

.WidgetBlockContainer {
  padding-top: em(231px);
  padding-bottom: em(199px);
  background: $black2;
  @include iftablet {
    padding-top: em(187px);
    padding-bottom: em(126px);
  }
  @include ifmobile {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
}

.AdaptationBlock {
  padding-top: em(147px);
  padding-bottom: em(187px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include iftablet {
    padding-top: em(91px);
    padding-bottom: em(115px);
  }
  @include ifmobile {
    padding-top: em(95px);
    padding-bottom: em(139px);
  }

  .AdaptationBlockTitle {
    max-width: em(1000px);
    margin-bottom: em(48px);

    @include iftablet {
      margin-bottom: em(52px);
    }
    @include ifmobile {
      margin-bottom: em(35px);
    }

    h1 {
      color: $white;
      font-size: em(50px);
      text-align: center;

      @include iftablet {
        font-size: em(40px);
      }
      @include ifmobile {
        font-size: em(24px);
      }
    }
  }

  .AdaptationBlockSubtitle {
    max-width: em(1000px);
    margin-bottom: em(123px);
    @include iftablet {
      margin-bottom: em(84px);
    }
    @include ifmobile {
      margin-bottom: em(66px);
    }
    h1 {
      font-size: em(30px);
      text-align: center;
      @include iftablet {
        font-size: em(24px);
      }
      @include ifmobile {
        font-size: em(16px);
      }
    }
  }

  .AdaptationBlockImage {
    position: relative;
    width: em(685px);
    height: em(538px);
    @include iftablet {
      width: em(514px);
      height: em(404px);
    }
    @include ifmobile {
      width: em(253px);
      height: em(196px);
    }
  }
}

.PlatformBenefitsBlockContainer {
  background: $black2;

  .PlatformBenefitsBlock {
    padding-top: em(164px);
    padding-bottom: em(191px);

    @include iftablet {
      padding-top: em(102px);
      padding-bottom: em(185px);
    }
    @include ifmobile {
      padding-top: em(85px);
      padding-bottom: em(15px);
    }

    .PlatformBenefitsBlockTitle {
      max-width: em(1000px);
      margin: 0 auto;
      margin-bottom: em(55px);

      @include iftablet {
        margin-bottom: em(81px);
      }
      @include ifmobile {
        margin-bottom: em(23px);
      }
      h2 {
        color: $white;
        text-align: center;
        text-decoration: none;
      }
    }

    .PlatformBenefits {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include ifmobile {
        flex-wrap: wrap;
      }

      .PlatformBenefitsText {
        @include ifmobile {
          margin-bottom: em(20px);
        }
        .PlatformBenefitsBlockSubtitle {
          margin-bottom: em(63px);
          @include iftablet {
            margin-bottom: em(70px);
          }
          @include ifmobile {
            margin-bottom: em(23px);
          }
          h1 {
            font-size: em(30px);
            @include iftablet {
              font-size: em(24px);
            }
            @include ifmobile {
              font-size: em(16px);
              text-align: center;
            }
          }
        }

        .PlatformBenefitsBlockList {
          max-width: em(910px);
          @include iftablet {
            max-width: em(564px);
          }
          @include ifmobile {
            max-width: 100%;
          }

          .PlatformBenefitsBlockListItem {
            margin-bottom: em(10px);
            list-style: none;
            padding-left: em(36px);
            position: relative;

            &:last-child {
              margin-bottom: 0;
            }

            @include iftablet {
              padding-left: em(30px);
            }
            @include ifmobile {
              padding-left: em(15px);
            }
            span {
              width: em(16px);
              height: em(16px);
              border-radius: 3px;
              background: $light_grey;
              position: absolute;
              left: 0;
              top: em(3px);

              @include iftablet {
                width: em(12px);
                height: em(12px);
              }
              @include ifmobile {
                width: em(7px);
                height: em(7px);
                border-radius: 1px;
                top: em(2px);
              }
            }
            P {
              font-size: em(19px);
              color: $white;
              font-family: $font-Calibri;
              font-style: normal;
              font-weight: normal;
              line-height: 120%;

              @include iftablet {
                font-size: em(15px);
              }
              @include ifmobile {
                font-size: em(9px);
              }
            }
          }
        }
      }

      .PlatformBenefitsImage {
        position: relative;
        top: em(-40px);
        width: em(239px);
        height: em(354px);
        @include iftablet {
          top: em(20px);
          width: em(192px);
          height: em(284px);
        }
        @include ifmobile {
          top: 0;
          width: em(129px);
          height: em(192px);
          margin: 0 auto;
        }
      }
    }
  }
}

.ImprovingBlock {
  padding-top: em(164px);
  padding-bottom: em(118px);
  display: flex;
  align-items: center;
  flex-direction: column;

  @include iftablet {
    padding-top: em(73px);
    padding-bottom: em(57px);
  }
  @include ifmobile {
    padding-top: em(93px);
    padding-bottom: em(49px);
  }

  .ImprovingBlockTitle {
    max-width: em(730px);
    margin-bottom: em(46px);
    text-align: center;
    @include iftablet {
      margin-bottom: em(24px);
    }
    @include ifmobile {
      margin-bottom: em(16px);
    }
    h2 {
      text-decoration: none;
      color: $white;
    }
  }

  .ImprovingBlockSubtitle {
    max-width: em(730px);
    margin-bottom: em(71px);
    @include iftablet {
      margin-bottom: em(36px);
    }
    @include ifmobile {
      margin-bottom: em(29px);
    }
    h1 {
      font-size: em(30px);
      text-align: center;
      @include iftablet {
        font-size: em(24px);
      }
      @include ifmobile {
        font-size: em(16px);
      }
    }
  }

  .ImprovingBlockItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(47px) em(80px);
    @include iftablet {
      gap: em(22px) em(49px);
    }
    @include ifmobile {
      gap: em(15px);
    }
  }
}

.HowItWorksBlockContainer {
  background: $black2;

  .HowItWorksBlock {
    width: 100%;
    max-width: em(1530px);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: em(129px);
    padding-bottom: em(100px);
    margin: 0 auto;

    @include iftablet {
      padding-top: em(50px);
      padding-bottom: em(42px);
    }
    @include ifmobile {
      padding-top: em(96px);
      padding-bottom: em(42px);
    }

    .HowItWorksBlockTitle {
      max-width: em(1000px);
      margin-bottom: em(60px);
      @include iftablet {
        margin-bottom: em(46px);
      }
      @include ifmobile {
        margin-bottom: em(34px);
      }
      h2 {
        color: $white;
        text-align: center;
        text-decoration: none;
      }
    }

    .HowItWorksBlockImage {
      position: relative;
      margin-bottom: em(114px);
      @include iftablet {
        margin-bottom: em(80px);
      }
      @include ifmobile {
        margin-bottom: em(46px);
      }
    }

    .DesktopImage {
      display: none;
      width: em(1530px);
      height: em(737px);
      @include ifdesktop {
        display: block;
      }
    }
    .TabletImage {
      display: none;
      width: em(885px);
      height: em(597px);
      @include iftablet {
        display: block;
      }
    }
    .MobileImage {
      display: none;
      width: em(336px);
      height: em(722px);
      @include ifmobile {
        display: block;
      }
    }

    .HowItWorksBlockSubtitle {
      max-width: em(1000px);
      h1 {
        font-size: em(30px);
        text-align: center;
        @include iftablet {
          font-size: em(24px);
        }
        @include ifmobile {
          font-size: em(16px);
        }
      }
    }
  }
}
