.wrapper {
  width: 100%;
}
.table {
  width: 100%;
  border-collapse: collapse;
  thead {
    font-size: em(15px);
    border-bottom: 1px solid rgba(75, 75, 75, 0.7);
    tr {
      th {
        text-align: left;
        padding-bottom: em(25px);
        &:nth-child(1) {
          width: em(164px);
        }
        &:nth-child(2) {
          width: em(164px);
        }
        &:nth-child(3) {
          width: em(315px);
        }
        &:nth-child(4) {
          width: em(234px);
        }
        &:nth-child(5) {
          width: em(222px);
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $black3;

      td {
        padding: em(21px) em(12px);
        font-size: em(15px);
        color: opacity($color: $black);
        opacity: 0.7;
        &:nth-child(5) {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.btnOpen {
  border-radius: em(100px);
  background-color: $white;
  font-weight: bold;
  width: em(32px);
  height: em(32px);
  border: none;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3;
  border: 2px solid $black3;
  &:hover {
    opacity: 0.7;
  }
}

.empty {
  width: 100%;
  margin-top: em(80px);
  &Icon {
    position: relative;
    max-width: em(242px);
    height: em(85px);
    width: 100%;
    margin: 0 auto;
  }
}
