.ServicesItem {
  width: 100%;
  background: $black2;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: em(10px);
  padding: em(26px) em(67px);
  position: relative;

  @include iftablet {
    padding: em(24px) em(75px);
  }

  @include ifmobile {
    padding: em(13px) em(40px);
    margin-bottom: em(6px);
  }

  .ServicesItemImage {
    position: absolute;
    top: em(28px);
    left: em(34px);
    @include iftablet {
      top: em(24px);
      left: em(40px);
    }
    @include ifmobile {
      top: em(13px);
      left: em(13px);
    }
  }

  .Image {
    position: relative;
  }

  .ServicesItemTitle {
    margin-bottom: em(10px);
    @include ifmobile {
      margin-bottom: em(5px);
    }
  }

  .ServicesItemSubtitle {
    display: block;
    font-size: em(14px);
    line-height: 100%;
    font-family: $font-Calibri;
    font-weight: 400;
    color: $white;

    @include ifmobile {
      font-size: em(12px);
    }
  }

  .ServicesItemUl {
    display: block;
    margin-top: em(2px);
    .ServicesItemLi {
      font-size: em(14px);
      line-height: 120%;
      font-family: $font-Calibri;
      font-weight: 400;
      color: $white;
      list-style: none;

      @include ifmobile {
        font-size: em(12px);
      }
    }
  }

  .Hidden {
    display: none;
  }
}
