.ServicesItem {
  width: 100%;
  background: $black2;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: em(13px);
  padding: em(26px) em(67px);
  position: relative;

  @include iftablet {
    padding: em(24px) em(75px);
    margin-bottom: em(15px);
  }

  @include ifmobile {
    padding: em(13px) em(40px);
    margin-bottom: em(6px);
  }

  .ServicesItemImage {
    top: em(28px);
    left: em(34px);
    @include iftablet {
      top: em(24px);
      left: em(40px);
    }
    @include ifmobile {
      width: em(15px);
      height: em(15px);
      top: em(13px);
      left: em(13px);
    }
  }

  .ServicesItemTitle {
    margin-bottom: em(15px);
    @include ifmobile {
      margin-bottom: em(9px);
    }
  }

  .ServicesItemSubtitle {
    display: block;
    P {
      font-size: em(19px);
      line-height: 100%;
      @include iftablet {
        font-size: em(15px);
      }

      @include ifmobile {
        font-size: em(9px);
      }
    }
  }

  .ServicesItemUl {
    display: block;

    .ServicesItemLi {
      font-size: em(19px);
      line-height: 120%;
      font-family: $font-Calibri;
      font-weight: 400;
      color: $white;
      list-style: none;
      margin-top: em(2px);
      @include iftablet {
        font-size: em(15px);
      }

      @include ifmobile {
        font-size: em(9px);
      }
    }
  }

  .Hidden {
    display: none;
  }
}
