.Container {
  width: 100%;
  max-width: em(1532px);
  margin: 0 auto;
  position: relative;

  @include iftablet {
    max-width: em(900px);
  }
}

.Navbar {
  .NavbarDesktop {
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: em(34px);
    display: flex;
    flex-direction: row;
    align-items: center;
    @include iftablet {
      top: em(30px);
    }
    @include ifmobile {
      display: none;
    }
  }

  .NavbarMobile {
    display: none;
    position: absolute;
    z-index: 1000;
    top: em(28px);
    right: em(29px);
    @include ifmobile {
      display: block;
    }

    .NavbarMobileBurger {
      width: em(18px);
      height: em(9px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      span {
        width: 100%;
        height: 1px;
        background: $yellow;
      }
    }

    .NavbarMobileNav {
      text-align: left;
      list-style: none;
      margin-bottom: em(83px);
      li {
        font-size: em(12px);
        margin-bottom: em(19px);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.Navbar__select_language {
  min-width: em(87px);
  margin-left: em(77px);
  margin-right: em(77px);
  position: relative;
  z-index: 10000;
  @include iftablet {
    margin-left: em(42px);
    margin-right: em(42px);
  }

  @include ifmobile {
    margin-left: em(-34px);
    margin-right: 0;
    margin-bottom: em(27px);
  }
}

.BtnLogin {
  margin-right: em(36px);
  button {
    font-size: em(18px);
    font-weight: normal;
    @include iftablet {
      font-size: em(14px);
    }
    @include ifmobile {
      font-size: em(12px);
    }
  }
  @include iftablet {
    margin-right: em(23px);
  }

  @include ifmobile {
    margin-bottom: em(10px);
  }
}

.BtnSignup {
  min-width: em(158px);
  height: em(43px);
  button {
    font-size: em(18px);
    font-weight: normal;
    @include iftablet {
      font-size: em(14px);
    }
    @include ifmobile {
      font-size: em(12px);
    }
  }
  @include iftablet {
    min-width: em(100px);
  }
  @include ifmobile {
    min-width: em(76px);
    height: em(33px);
    margin-left: em(-10px);
  }
}

.User {
  font-size: em(17px);
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: $yellow;
  white-space: nowrap;
  margin-right: em(27px);
  @include iftablet {
    font-size: em(14px);
  }
  @include ifmobile {
    font-size: em(12px);
    margin-bottom: em(20px);
  }
}
