.Container {
  width: 100%;
  max-width: em(1532px);
  margin: 0 auto;
  position: relative;

  @include iftablet {
    max-width: em(900px);
  }
}

.Navbar {
  .NavbarDesktop {
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include ifmobile {
      display: none;
    }
  }

  .NavbarMobile {
    @include ifmobile {
      // display: block;
    }
  }

  &__burger {
    display: none;
    width: em(30px);
    height: em(30px);
    justify-self: end;
    @include ifmobile {
      display: block;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @include ifmobile {
      display: none;
    }
  }
}

.Navbar__select_language {
  min-width: em(87px);
  margin-left: em(77px);
  margin-right: em(77px);
  @include iftablet {
    margin-left: em(42px);
    margin-right: em(42px);
  }
}

.BtnLogin {
  margin-right: em(36px);
  @include iftablet {
    margin-right: em(23px);
  }
}

.BtnSignup {
  min-width: em(158px);
  height: em(43px);
  @include iftablet {
    min-width: em(100px);
  }
}
