.Widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.BaseInput {
  position: relative;
  width: 100%;
  max-width: em(568px);
}

.Input {
  $size: 20px;
  width: 100%;
  max-width: em(568px);
  height: 100%;
  font-size: em($size);
  font-weight: 400;
  color: $black;
  outline: none;
  box-sizing: border-box;
  position: relative;
  background: $input;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: em(10px, $size);
  vertical-align: middle;
  padding: 0 em(37px, $size);
  height: em(83px, $size);
  @include placeholder-color($placeholder);
  //Заменить на Термина
  font-family: $font-Circe;
  &:focus {
    border: 2px solid $yellow;
  }

  @include iftablet {
    $size: 17px;
    font-size: em($size);
    height: em(62px, $size);
    border-radius: em(10px, $size);
  }
  @include ifmobile {
    $size: 11px;
    font-size: em($size);
    padding: 0 em(27px, $size);
    height: em(44px, $size);
    border-radius: em(10px, $size);
  }
}

.Error {
  border: 2px solid $error;
}

.ErrorText {
  display: block;
  font-size: em(16px);
  line-height: 120%;
  color: $error;
  margin-top: em(20px);
  @include iftablet {
    font-size: em(12px);
  }
  @include ifmobile {
    font-size: em(9px);
  }
}

.SelectContainer {
  position: relative;
  width: 100%;
  max-width: em(541px);
  height: em(83px);
}

.SelectHeader {
  width: 100%;
  height: 100%;
  background: $input;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: em(10px);
  padding: 0 em(37px);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include iftablet {
    max-width: em(134px);
    height: em(61px);
  }
  @include ifmobile {
    padding: 0 em(27px);
    height: em(44px);
  }

  span {
    font-size: em(20px);
    font-weight: normal;
    line-height: 100%;
    color: $placeholder;
    @include iftablet {
      font-size: em(17px);
    }
    @include ifmobile {
      font-size: em(11px);
    }
  }
  .NotEmpty {
    color: $black;
  }
}

.NotEmpty {
  color: $black;
}

.SelectHeaderFocus {
  border: 2px solid $yellow;
}

.IconArrow {
  width: em(16px);
  height: em(16px);
  position: absolute;
  right: em(19px);
  @include iftablet {
    width: em(13px);
    height: em(13px);
    right: em(17px);
  }
  @include ifmobile {
    width: em(7px);
    height: em(7px);
    right: em(13px);
  }
}

.IconArrowTop {
  top: calc(45% - em(16px));
  @include iftablet {
    top: calc(45% - em(13px));
  }
  @include ifmobile {
    top: calc(45% - em(7px));
  }
}

.IconArrowBottom {
  bottom: calc(45% - em(18px));
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  @include iftablet {
    bottom: calc(45% - em(13px));
  }
  @include ifmobile {
    bottom: calc(45% - em(7px));
  }
}

.SelectList {
  position: absolute;
  top: em(96px);
  z-index: 1000;
  width: 100%;
  background: #f2f5f6;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: em(10px);
  max-height: em(166px);
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  @include iftablet {
    top: em(75px);
    max-height: em(134px);
  }
  @include ifmobile {
    top: em(49px);
    max-height: em(110px);
  }
}

.SelectList::-webkit-scrollbar {
  display: none;
  width: 0px; /* For Chrome, Safari, and Opera */
}

.ListItem {
  cursor: pointer;
  height: em(83px);
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 em(37px);
  color: $placeholder;

  &:first-child {
    border-top-left-radius: em(10px);
    border-top-right-radius: em(10px);
  }
  &:last-child {
    border-bottom-left-radius: em(10px);
    border-bottom-right-radius: em(10px);
  }
  &:hover {
    background: $light_grey;
  }

  .ListItemTitle {
    font-size: em(20px);
    font-weight: normal;
    line-height: 100%;
    @include iftablet {
      font-size: em(17px);
    }
    @include ifmobile {
      font-size: em(11px);
    }
  }

  @include iftablet {
    height: em(61px);
  }
  @include ifmobile {
    height: em(44px);
    padding: 0 em(37px);
  }
}

.BaseButton {
  width: 100%;
  max-width: em(193px);
  height: em(83px);
}
//общие
.Button {
  width: 100%;
  height: 100%;
  @extend %button;
  border-radius: 10px;
  font-size: em(20px);
  font-weight: 600;
  line-height: 120%;
  //заменить на Термина
  font-family: $font-Circe;
  white-space: nowrap;

  color: $black;
  background: $yellow;
  &:hover {
    background: rgba(226, 240, 99, 0.65);
  }
  &:active {
    background: rgba(226, 240, 99, 0.8);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @include iftablet {
    font-size: em(17px);
  }
  @include ifmobile {
    font-size: em(11px);
  }
}

.Button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}
