.Email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: em(200px);
  padding-bottom: em(87px);
  @include ifmobile {
    padding-top: em(114px);
  }
}

.Title {
  margin-bottom: em(18px);
  text-align: center;

  @include ifmobile {
    h1 {
      font-size: em(25px);
    }
    margin-bottom: em(15px);
  }
}

.Subtitle {
  margin-bottom: em(60px);
  text-align: center;
  p {
    font-family: $font-Termina;
  }
  @include ifmobile {
    margin-bottom: em(26px);
  }
}

.Input {
  width: 100%;
  max-width: em(360px);
  margin-bottom: em(60px);

  @include ifmobile {
    max-width: em(286px);
  }
}

.BtnLogin {
  width: 100%;
  max-width: em(251px);
  height: em(44px);
  margin-bottom: em(20px);
  @include ifmobile {
    max-width: em(173px);
    height: em(38px);
  }
}

.Question {
  margin-bottom: em(20px);
  p {
    font-size: em(12px);
    font-family: $font-Termina;
    @include iftablet {
      font-size: em(14px);
    }
    @include ifmobile {
      font-size: em(10px);
    }
  }
}

.LinkQuestion {
  color: $yellow;
  text-decoration: none;
}
