.Link {
  font-size: em(16px);
  font-weight: 600;
  line-height: 120%;
  color: $white;
  @extend %center;
  &:hover {
    text-decoration: underline;
  }
  @include iftablet {
    font-size: em(14px);
  }
  @include ifmobile {
    font-size: em(10px);
  }
}
