.Text {
  font-size: em(18px);
  // font-size: em(21px);
  line-height: 120%;
  font-weight: 400;
  color: $white;
  font-family: $font-Calibri;
  @include iftablet {
    font-size: em(18px);
  }

  @include ifmobile {
    font-size: em(12px);
  }
}
