.SignatureCertifications {
  .Description {
    font-family: $font-Calibri;
    font-style: normal;
    font-weight: 400;
    font-size: em(16px);
    line-height: 120%;
    color: $white;
    margin-bottom: em(35px);

    @include iftablet {
      margin-bottom: em(14px);
    }
    @include ifmobile {
      font-size: em(12px);
    }
  }

  .CovidDescription {
    font-family: $font-Calibri;
    font-style: normal;
    font-weight: 400;
    font-size: em(16px);
    line-height: 120%;
    color: $pink;
    margin-bottom: em(60px);

    @include iftablet {
      margin-bottom: em(26px);
    }
    @include ifmobile {
      font-size: em(12px);
    }
  }

  .Table {
    margin-bottom: em(81px);
    @include iftablet {
      margin-bottom: em(49px);
    }
    @include ifmobile {
      margin-bottom: em(30px);
    }

    table {
      width: 100%;
      border-collapse: collapse;
      thead {
        @include ifmobile {
          display: none;
        }
        .Clear {
          width: 5%;
          @include iftablet {
          }
          @include ifmobile {
          }
        }
        .Name {
          width: 35%;
          @include iftablet {
          }
          @include ifmobile {
          }
        }
        .Qty {
          width: 30%;
          @include iftablet {
          }
          @include ifmobile {
          }
        }
        .Price {
          width: 20%;
          @include iftablet {
            width: 25%;
          }
          @include ifmobile {
          }
        }

        .Info {
          width: 10%;
          @include iftablet {
            width: 5%;
          }
          @include ifmobile {
          }
        }

        th {
          font-weight: bold;
          font-size: em(16px);
          line-height: 100%;
          letter-spacing: -0.05em;
          color: $white;
          border-bottom: 1px solid $white;
          text-align: left;
          padding: 0 em(22px) em(19px);
          @include iftablet {
            padding-left: 0;
          }
          @include ifmobile {
            font-size: em(12px);
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid $white;
          width: 100%;
          position: relative;
          @include ifmobile {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid $white;
            margin-bottom: em(20px);
            border-radius: 10px;
            padding: em(20px);
          }
        }
        td {
          padding: em(22px);
          padding-right: 0;
          line-height: 0;

          @include iftablet {
            padding: em(19px);
            padding-left: 0;
          }

          @include ifmobile {
            width: 100%;
            max-width: em(220px);
            display: flex;
            justify-content: center;
            padding: em(10px) 0;
          }

          .SelectItemDescription {
            font-size: em(16px);
            line-height: 100%;
            font-family: $font-Calibri;
            font-style: normal;
            font-weight: normal;
            color: $white;
            @include ifmobile {
              font-size: em(12px);
              text-align: center;
            }
          }

          .Select {
            width: em(458px);
            @include iftablet {
              width: em(304px);
            }
            @include ifmobile {
              width: 100%;
            }
          }

          .Input {
            width: em(99px);
            @include iftablet {
              width: em(84px);
            }
            @include ifmobile {
            }
          }

          .RequestInfoItem {
            @include ifmobile {
              position: absolute;
              top: em(10px);
              right: em(10px);
            }
          }
        }

        .Hidden {
          @include ifmobile {
            display: none;
          }
        }

        .ValidItem {
          justify-content: center;
          @include iftablet {
            justify-content: flex-start;
          }
          @include ifmobile {
            justify-content: flex-start;
          }
          svg {
            width: em(32px);
            height: em(32px);
            @include iftablet {
              width: em(22px);
              height: em(22px);
            }
            @include ifmobile {
              width: em(20px);
              height: em(20px);
            }
          }
        }

        .tr_verification_apostil_N td {
          padding-bottom: 0;
          @include ifmobile {
            padding: em(10px) 0;
          }
        }
        .tr_verification_apostil_N,
        .tr_certcopy_doc {
          border-bottom: none;
          @include ifmobile {
            border-bottom: 1px solid $white;
          }
        }
        .tr_certcopy_doc td {
          padding-top: 0;
          padding-bottom: 0;
          @include ifmobile {
            padding: em(10px) 0;
          }
        }
        .tr_certcopy_delivery {
          @include ifmobile {
            border-bottom: 1px solid $white;
          }
        }
        .tr_certcopy_delivery td {
          padding-top: 0;
        }

        .Select {
          text-align: center;
          vertical-align: inherit;

          @include iftablet {
            padding-left: 0;
            text-align-last: left;
          }
          @include ifmobile {
            padding-left: 0;
            text-align-last: left;
          }
        }
      }

      tfoot {
        tr {
          border-bottom: none;
          @include ifmobile {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #dc3545;
            border-radius: 10px;
          }

          th {
            padding: em(22px);
            padding-right: 0;
            text-align: left;
            line-height: 0;
            vertical-align: bottom;
            @include iftablet {
              padding: em(19px);
              padding-left: 0;
            }
            @include ifmobile {
              padding: em(20px);
            }
          }
          .Total {
            text-align: right;
            span {
              font-size: em(16px);
              color: $white;
              font-weight: bold;
              line-height: 100%;
              letter-spacing: -0.05em;
              @include ifmobile {
                font-size: em(12px);
              }
            }
          }
        }
      }

      .PriceValue {
        color: $pink;
        font-size: em(16px);
        line-height: 100%;
        font-family: $font-Calibri;
        font-style: normal;
        font-weight: normal;
        @include ifmobile {
          font-size: em(14px);
        }
      }

      .Currency {
        color: $grey;
        font-size: em(16px);
        line-height: 100%;
        font-family: $font-Calibri;
        font-style: normal;
        font-weight: normal;
        @include ifmobile {
          font-size: em(14px);
        }
      }

      .Bold {
        font-weight: bold;
      }
    }
  }

  .Button {
    width: 100%;
    max-width: em(187px);
    height: em(44px);
    margin: 0 auto;
    @include ifmobile {
      max-width: em(173px);
      height: em(38px);
      margin: 0 auto;
    }
  }
}
