.btn {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.label {
  margin-bottom: em(5px);
  letter-spacing: em(-1px);
  font-size: em(15px);
  text-transform: uppercase;
  color: $black3;
  span {
    color: $pink;
    font-size: em(19px);
    margin-right: em(5px);
  }
}
.select {
  width: 100%;
}
