.Eco {
  position: relative;
  background: url('/images/landing/eco/eco-bg.png') center / cover no-repeat;
}
.blur {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background: rgba(16, 16, 16, 0.44);
}

.WrapperPage {
  position: relative;
  z-index: 3;
  min-height: 100vh;
  padding-top: em(300px);
  padding-bottom: em(208px);

  @include iftablet {
    padding-top: em(214px);
    padding-bottom: em(66px);
    min-height: 100%;
  }

  @include ifmobile {
    padding-top: em(68px);
    padding-bottom: em(70px);
    min-height: 100%;
  }
}
.Title {
  margin-bottom: em(40px);

  @include iftablet {
    max-width: em(583px);
    margin-bottom: em(22px);
  }
  @include ifmobile {
    display: block;
    max-width: em(254px);
    margin-bottom: em(30px);
  }
  .white {
    color: $white;
    @include ifmobile {
      display: block;
      width: 100%;
    }
  }
  .green {
    color: $green;
  }
}

.Content {
  margin-bottom: em(50px);
  @include iftablet {
    margin-bottom: em(26px);
  }
  @include ifmobile {
    margin-bottom: em(22px);
  }
  .Row {
    width: 100%;
    position: relative;

    .Paragraph {
      p {
        // font-size: em(16px);
        margin-bottom: em(15px);
        // @include ifmobile {
        //   font-size: em(14px);
        // }
      }
    }

    .Description {
      width: 100%;
      max-width: em(853px);
      @include iftablet {
        max-width: em(554px);
      }
      .Image1 {
        width: em(90px);
        height: em(90px);
        position: relative;
        float: left;
        margin-right: em(34px);

        @include ifmobile {
          width: em(28px);
          height: em(28px);
          margin-right: em(5px);
          margin-bottom: em(-10px);
        }
      }

      .Subtitle {
        font-family: $font-Termina;
        font-style: normal;
        font-weight: 700;
        font-size: em(16px);
        line-height: 100%;
        color: $white;
        margin: em(35px) 0;
        @include ifmobile {
          font-size: em(14px);
          margin: em(20px) 0;
        }
      }
    }

    .Image2 {
      width: em(389px);
      height: em(389px);
      position: absolute;
      top: 0;
      right: 0;

      @include iftablet {
        width: em(261px);
        height: em(261px);
        top: em(-60px);
      }
      @include ifmobile {
        position: relative;
        order: -1;
        width: em(128px);
        height: em(128px);
        margin: 0 auto;
        top: 0;
        margin-bottom: em(20px);
      }
    }
  }

  .RowFirst {
    @include ifmobile {
      display: flex;
      flex-direction: column;
    }
  }

  .RowSecond {
    width: 100%;
    max-width: em(853px);
  }
}

.LinkToLogin {
  display: inline-flex;
  align-items: center;
  .Link {
    font-family: $font-Termina;
    font-style: normal;
    font-weight: 700;
    font-size: em(16px);
    color: $pink;
    margin-right: em(23px);
    @include ifmobile {
      margin-right: em(9px);
    }
  }
  .Icon {
    width: em(28px);
    height: em(28px);
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
